.body-inner {
    position: relative;
    overflow: hidden;
}


.ts-padding {
    padding: 50px;
}

.media>.float-left {
    margin-right: 20px;
}

/* .heading {
    padding-bottom: 50px;
    margin-top: 10px;
    transition: all 0.3s ease 0s;
} */

.gap-60 {
    clear: both;
    height: 60px;
}

.gap-40 {
    clear: both;
    height: 40px;
}

.gap-30 {
    clear: both;
    height: 30px;
}

.gap-20 {
    clear: both;
    height: 20px;
}

a:focus {
    outline: 0;
}

ul.circle,
ul.check-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.circle li {
    position: relative;
    margin-left: 30px;
    padding-bottom: 20px;
}

ul.circle li:before {
    content: "\f111";
    font-family: FontAwesome;
    font-size: 8px;
    line-height: 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    position: absolute;
    left: -33px;
    top: 5px;
}

ul.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.check-list li {
    margin-bottom: 5px;
}

ul.check-list li i {
    margin-right: 10px;
    font-size: 14px !important;
}

ul.arrow li:before {
    content: "\f105";
    font-family: FontAwesome;
    margin-right: 10px;
}

blockquote p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: italic;
    color: #959595;
}

blockquote {
    margin: 20px 0;
    padding: 10px 20px;
}

/* Common styles
  ================================================== */
/* Angle */
.angle:before {
    background: #fff;
    content: "";
    height: 75px;
    top: -37px;
    position: absolute;
    width: 100%;
    z-index: 2;
    -webkit-transform: skew(0deg, 2deg);
    transform: skew(0deg, 2deg);
}

.portfolio.angle:before {
    background: #f5f5f5;
}

.portfolio.angle {
    padding-bottom: 120px;
}

.clients.angle {
    padding: 120px 0;
}

/* Parallax */
.parallax {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed !important;
    padding: 110px 0;
    color: #fff;
    position: relative;
}

.parallax h2,
.parallax h3 {
    color: #fff;
    margin-top: 0;
}

.parallax .btn {
    color: #fff;
}

.parallax-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/overaly.png);
}

.parallax h3 {
    margin-bottom: 30px;
}

.parallax1 {
    background: url(../images/parallax/parallax1.jpg) no-repeat;
}

.parallax2 {
    background: url(../images/parallax/parallax2.jpg) no-repeat;
}

.parallax3 {
    background: url(../images/parallax/parallax3.jpg) no-repeat;
}

.parallax4 {
    background: url(../images/parallax/parallax4.jpg) no-repeat;
}

.parallax .btn.solid {
    margin-left: 10px;
}

/* Deafult title */
.title-icon {
    font-size: 32px;
    margin-right: 15px;
    margin-top: 9px;
    color: #959595;
}

.title-icon.classic {
    margin-top: 0;
}

.title {
    position: relative;
    margin: 0;
    line-height: 32px;
    /* border-left: 2px solid #e7e7e7; */
    display: inline-block;
    padding-left: 15px;
    transition: all 0.3s ease 0s;
}

.title.classic {
    line-height: 40px;
    height: 34px;
}

.title-desc {
    font-family: 'Lato', serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    color: #6A6A6A;
}

/* Title style 2 */
.title2 {
    position: relative;
    margin-top: 30px;
}

.title2:after {
    content: '';
    width: 150px;
    left: 50%;
    margin-left: -75px;
    top: 50%;
    height: 3px;
    background: #dedede;
    position: absolute;
}

.title2 .title-desc {
    padding-top: 30px;
}

/* Title border */
.title-border {
    line-height: normal;
    margin-top: 0;
}

.widget-title {
    margin-bottom: 25px;
    font-size: 20px;
}

.post-title {
    font-size: 24px;
    line-height: normal;
}

.post-title a {
    color: #323232;
}

.long-desc {
    font-size: 16px;
}

/* Icon pentagon */
.icon-pentagon {
    display: inline-block;
    height: 24px;
    width: 40px;
    position: relative;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.icon-pentagon:hover {
    color: rgba(0, 0, 0, 0.5);
}

.icon-pentagon:before {
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    top: -10px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

.icon-pentagon:after {
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    bottom: -10px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

.icon-pentagon i {
    font-size: 20px;
    line-height: 24px;
}

.service-icon {
    height: 46px;
    width: 90px;
    margin-bottom: 50px;
}

.service-icon:before {
    border-left: 45px solid rgba(0, 0, 0, 0);
    border-right: 45px solid rgba(0, 0, 0, 0);
    top: -30px;
}

.service-icon:after {
    border-left: 45px solid rgba(0, 0, 0, 0);
    border-right: 45px solid rgba(0, 0, 0, 0);
    bottom: -30px;
}

.service-icon i {
    font-size: 36px;
    line-height: 46px;
}

/* Carousel controller */
.carousel-control {
    width: auto;
}

.ts-carousel-controller {
    text-align: center;
    padding-top: 50px;
    z-index: 1;
    position: relative;
}

.ts-carousel-controller .left,
.ts-carousel-controller .right,
.owl-controls .owl-prev,
.owl-controls .owl-next {
    cursor: pointer;
    background: #f6f6f6;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #989898;
    opacity: 1;
    top: auto;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
}

.owl-controls .owl-next {
    margin-left: 6px;
}

.ts-carousel-controller .left:hover,
.ts-carousel-controller .right:hover,
.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover {
    color: #fff;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    display: inline-block;
}

/* Input form */
/* .form-control {
    box-shadow: none;
    border: 1px solid #dedede;
    padding: 6px 20px;
    height: 50px;
    background: none;
    color: #959595;
    font-size: 14px;
    border-radius: 0;
} */

.form-control:focus {
    box-shadow: none;
}

/*-- Flex slider --*/
.portfolio-slider .flexslider,
.ts-flex-slider .flexslider {
    border: 0;
    box-shadow: none;
}

.portfolio-slider .flex-direction-nav a,
.ts-flex-slider .flex-direction-nav a {
    opacity: 0;
    background: #000;
    color: #fff !important;
    text-align: center;
    text-shadow: none;
    line-height: 40px;
}

.portfolio-slider .flex-direction-nav a:before {
    font-size: 32px;
}

.portfolio-slider .flex-direction-nav a:hover,
.ts-flex-slider .flex-direction-nav a:hover {
    color: #fff;
    opacity: 1;
}

.flexportfolio.flexslider .slides img {
    height: auto;
}

/*-- Pagination --*/
.pagination li a {
    border-radius: 0 !important;
    margin-right: 8px;
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>li>a:hover {
    color: #fff;
    border: 1px solid transparent;
}

/* Main navigation */
.navbar {
    padding: 0;
}

.navbar-toggler:focus {
    outline: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    color: #333;
}


@media (max-width: 991px) {
    .navbar-nav .nav-link {
        padding: 10px !important;
    }
}

/* Dropdown */

@media (max-width: 991px) {
    .dropdown-menu {
        display: none;
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: unset;
        transform-origin: unset;
        text-align: center;
    }
}

.dropdown-menu.show {
    visibility: hidden;
}

@media (max-width: 991px) {
    .dropdown-menu.show {
        visibility: visible;
        display: block;
    }
}

/*-- Header style 1 --*/
@media (max-width: 991px) {
    /* .header {
        background: #191919;
        box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.2);
    } */
}

@media (max-width: 991px) {
    .header .navbar {
        padding: 16.5px 0;
    }
}

.header-solid {
    background: rgba(0, 0, 0, 0.61);
    box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.2);
}

/*-- Logo --*/
/* .navbar-brand.navbar-bg {
    position: absolute;
    left: 0;
    padding: 3px 15px 10px;
    width: 20%;
    height: 62px;
    line-height: 62px;
    z-index: 1;
} */

/* Header Style - 2
  ================================================== */
.header2 {
    padding: 8px 0;
}

@media (max-width: 991px) {
    .header2 {
        background: #191919;
        box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.2);
    }
}

.header2 .navbar {
    padding: 0;
}

.header2 .navbar-brand {
    background: none;
    padding-top: 3px;
}

/* Header Style - 3
  ================================================== */
.header3 .navbar {
    background: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.2);
}

.header3 .navbar-brand {
    background: transparent;
}

.header3 .navbar-toggler {
    background: transparent;
}

/* Header Style - 4
  ================================================== */
.header4 {
    background: #fff;
    box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.2);
}

.header4 .navbar-brand {
    background: transparent;
}

.header4 .navbar-toggler {
    background: transparent;
}

/* Slideshow
  ================================================== */
/*-- Main slide --*/
.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/overaly.png);
}

#main-slide .carousel-item img {
    width: 100%;
    -webkit-backface-visibility: hidden;
}

#main-slide .carousel-item {
    -webkit-backface-visibility: hidden;
}

#main-slide .carousel-item .slider-content {
    z-index: 1;
    opacity: 0;
    transition: opacity 500ms;
}

#main-slide .carousel-item.active .slider-content {
    opacity: 1;
    transition: opacity 100ms;
}

#main-slide .slider-content {
    top: 50%;
    margin-top: -70px;
    left: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    color: #fff;
}

#main-slide .carousel-indicators {
    bottom: 70px;
}

.carousel-indicators li {
    width: 30px !important;
    height: 10px !important;
    margin: 1px !important;
    border-radius: 0 !important;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
}

#main-slide .carousel-indicators li.active,
#main-slide .carousel-indicators li:hover {
    transition: all 300ms ease;
}

#main-slide .carousel-control.left,
#main-slide .carousel-control.right {
    opacity: 0;
    filter: alpha(opacity=0);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
    transition: all .25s ease;
}

#main-slide:hover .carousel-control.left,
#main-slide:hover .carousel-control.right {
    opacity: 1;
    filter: alpha(opacity=100);
}

#main-slide:hover .carousel-control.left {
    left: 20px;
}

#main-slide:hover .carousel-control.right {
    right: 20px;
}

#main-slide .carousel-control.left span {
    padding: 15px;
}

#main-slide .carousel-control.right span {
    padding: 15px;
}

#main-slide .carousel-control .fa-angle-left,
#main-slide .carousel-control .fa-angle-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

#main-slide .carousel-control .fa-angle-left {
    left: 0;
}

#main-slide .carousel-control .fa-angle-right {
    right: 0;
}

#main-slide .carousel-control i {
    background: none;
    color: #fff;
    line-height: 56px;
    width: 56px;
    height: 56px;
    border: 1px solid #fff;
    border-radius: 100%;
    font-size: 36px;
    transition: all 500ms ease;
}

#main-slide .carousel-control i:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#main-slide .slider-content h2 {
    font-size: 52px;
    text-transform: uppercase;
    color: #fff;
}

#main-slide .slider-content h3 {
    font-size: 28px;
    margin-top: 40px;
    color: #fff;
}

.slider.btn {
    padding: 10px 35px;
    margin-top: 40px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.slider.btn.solid {
    margin-left: 15px;
}

.slider-content-left {
    position: relative;
    margin: 0 0 0 40px;
}

.slider-content-right {
    position: relative;
}

/*-- Animation */
.carousel .carousel-item.active .animated2,
.flex-active-slide .animated2 {
    -webkit-animation: lightSpeedIn 1s ease-in 200ms both;
    animation: lightSpeedIn 1s ease-in 200ms both;
}

.carousel .carousel-item.active .animated3,
.flex-active-slide .animated3 {
    -webkit-animation: bounceInLeft 2s ease-in-out 800ms both;
    animation: bounceInLeft 1.5s ease-in-out 800ms both;
}

.carousel .carousel-item.active .animated4,
.flex-active-slide .animated4 {
    -webkit-animation: flipInX 2s ease-in 800ms both;
    animation: flipInX 2s ease-in 800ms both;
}

.carousel .carousel-item.active .animated5,
.flex-active-slide .animated5 {
    -webkit-animation: bounceInLeft 1s ease-in-out 100ms both;