@font-face {
    font-family: "gotham";
    src: url("Gotham-Black.woff") format("woff");
}

:root {
    /* --theme: #2e9a99; */
    --theme: #01369e;
    --theme-color: #fff;
    --color: #0c0c0c;
    --border: #DBE0E3;
    --default-BG: #000;
    --light-grey: #F0F2F5;
    --light-grey-2: #fafafa;
    --grey: #78808E;
    --highlight: #012b72;
    --disabled: #ebebe4;
    --red: #f33c03;
    --green: #178011;
    --yellow: #eecb18;
    --light-green: #34dc2b;
    --transition: 0.2s all ease-in-out;
    --fontFamilyDesign: 'Indie Flower', cursive;
    --fontFamily: 'Archivo', sans-serif;
    --box-shadow: 0px 0px 4px #C5C5C6, 0px 2px 5px #e2d8d8;
}


.info-header {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--theme);
    font-family: "gotham";
}

.info-title {
    text-align: center;
    margin-bottom: 1rem;
}

.info-list-grid {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.info-list-grid:nth-child(even) {
    flex-direction: row-reverse;
}


.info-image-wrapper {
    width: 35%;
    padding-top: 25%;
    position: relative;
}

.info-description {
    width: 65%;
    position: relative;
    padding: 3rem;
    padding-left: calc(12% + 3rem);
}

.info-list-grid:nth-child(even) .info-description {
    padding-right: calc(12%);
    padding-left: 3rem;
}

.info-description:before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 0.75rem);
    background: #fdd043;
    box-shadow: 0 0px 0px 2px white, 0 0px 0px 4px #fdd043;
}

.info-description:after {
    content: '';
    width: calc(12%);
    height: 0.1rem;
    position: absolute;
    border-top: 0.2rem dashed #ababab;
    top: calc(50% - 0.2rem);
    margin-left: -0.1rem;
    z-index: 5;
}

.info-list-grid:nth-child(odd) .info-description:before {
    left: 3rem;
}

.info-list-grid:nth-child(even) .info-description:before {
    right: 3rem
}

.info-list-grid:nth-child(odd) .info-description:after {
    left: 5rem;
    margin-left: -0.1rem;
}

.info-list-grid:nth-child(even) .info-description:after {
    right: 5rem;
    margin-right: -0.1rem;
}

img.info-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.request-demo-btn-sec {
    text-align: center;
    margin: 4rem 0;
}


.section-heading {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: var(--theme);
    font-family: "gotham";
}

.about-list-item {
    margin-bottom: 2.5rem;
    padding-left: 15rem;
    position: relative;
}

.form-field {
    padding: 0;
    ;
}

.about-list-item .text {
    margin-bottom: 0.5rem;
}

.about-list-item:before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    border-radius: 50%;
    top: 0.6rem;
    left: 1rem;
    background: #fdd043;
    box-shadow: 0 0px 0px 2px white, 0 0px 0px 4px #fdd043;
}

.about-list-item:after {
    content: '';
    width: 10rem;
    height: 0.1rem;
    position: absolute;
    border-top: 0.2rem dashed #ababab;
    top: 13px;
    left: 3rem;
    z-index: 5;
}



/* Responsive */
@media all and (min-width:769px) and (max-width:1024px) {}

@media all and (max-width:768px) {

    .about-list-item {
        padding-left: 4rem;
    }

    .about-list-item:before {
        left: -1rem;
    }

    .about-list-item:after {
        width: 2rem;
        left: 1rem;
    }

    .info-header {
        font-size: 2rem;
    }



    .header-info {
        height: calc(100% - 11rem)
    }



    .info-list-grid {
        flex-flow: column;
        margin-bottom: 3rem;
    }

    .info-image-wrapper {
        width: 100%;
        padding-top: 45%;
        position: relative;
    }


    .info-list-grid:nth-child(even) .info-description,
    .info-list-grid:nth-child(odd) .info-description {
        margin-top: 2rem;
        padding: 0;
        width: 100%;
        padding-top: 5rem;
    }

    .info-list-grid:nth-child(odd) .info-description:before,
    .info-list-grid:nth-child(even) .info-description:before {
        left: calc(50% - 0.75rem);
    }

    .info-list-grid:nth-child(even) {
        flex-direction: column;
    }

    .info-description:before {
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        border-radius: 50%;
        left: calc(50% - 0.75rem);
        top: 0;
        background: #fdd043;
        box-shadow: 0 0px 0px 2px white, 0 0px 0px 4px #fdd043;
    }

    .info-list-grid:nth-child(odd) .info-description:after,
    .info-list-grid:nth-child(even) .info-description:after {
        left: calc(50% - 0.2rem);
        margin-left: 0;
        width: 0.1rem;
        height: 2rem;
        top: 2rem;
        border-right: 0.2rem dashed #ababab;
        border-top: none;
    }


    .info-desc-title {
        font-size: 2rem;
    }

    .info-desc-detail .text {
        font-size: 1.4rem;
    }

    .info-title .text {
        font-size: 1.5rem;
    }

    .header-company-info {
        margin-bottom: 2rem;
    }

    .header-detail-info .text,
    .header-detail-shortdesc .text {
        font-size: 1.5rem;
    }

    .header-detail-shortdesc {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}

.required {
    color: red;
}