/* Global styles
================================================== */


a.read-more:hover {
	color: #327cbc;
}


/* Typography
================================================== */

.btn.btn-primary {
	border: 2px solid #ee3b24;
}

.btn.btn-primary:hover {
	background: #ee3b24;
}

.btn.btn-primary.solid {
	background: #ee3b24;
}

ul.circle li:before {
	color: #ee3b24;
}

ul.check-list li i {
	color: #ee3b24;
}

blockquote {
	border-left: 5px solid #ee3b24;
}


/* Common styles
================================================== */

.heading:hover .title-icon {
	color: #ee3b24;
}

h2.entry-title a:hover {
	color: #ee3b24;
}

/* Icon pentagon */

.icon-pentagon {
	background: none repeat scroll 0 0 #ee3b24;
}

.icon-pentagon:before {
	border-bottom: 10px solid #ee3b24;
}

.icon-pentagon:after {
	border-top: 10px solid #ee3b24;
}

.service-icon:before {
	border-bottom: 30px solid #ee3b24;
}

.service-icon:after {
	border-top: 30px solid #ee3b24;
}

/* Carousel controller */

.ts-carousel-controller .left:hover,
.ts-carousel-controller .right:hover,
.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover {
	background: #ee3b24;
}

/* Input form */

/* .form-control:focus {
	border: 1px solid #ee3b24 !important;
} */

/* Flex Slider */

.portfolio-slider .flex-direction-nav a:hover,
.ts-flex-slider .flex-direction-nav a:hover {
	background: #ee3b24;
}

/* Pagination */
.pagination .page-link {
	color: #ee3b24;
}

.pagination .page-item.active .page-link,
.pagination .page-item:hover .page-link {
	background: #ee3b24;
	border-color: #ee3b24;
}

/* Header area
================================================== */

/*-- Header --*/
.header {
	/* border-top: 5px solid transparent; */
	/* background: #e8e7e7; */
	/* background: #fff; */
}

.header-solid ul.navbar-nav>li:hover>a,
.header-solid ul.navbar-nav>li.active>a {
	color: #ee3b24;
}

/*-- Logo --*/

.navbar-brand {
	background: transparent;
}

.navbar-toggler {
	background: #ee3b24;
}

/*-- Main navigation --*/




/* Header area - 2
================================================== */

/*-- Header bgnone fixed --*/

.header-bgnone {
	background: #ee3b24;
}


/* Slideshow
================================================== */

/*-- Main slide --*/

#main-slide .carousel-indicators li.active,
#main-slide .carousel-indicators li:hover {
	background-color: #ee3b24;
}

#main-slide .carousel-control i:hover {
	background: #ee3b24;
}

/* Image Block
================================================== */

.image-block-content .feature-icon {
	background: #ee3b24;
}


/* Portfolio
================================================== */

.isotope-nav ul li a {
	border: 1px solid #ee3b24;
}

.isotope-nav ul a.active,
.isotope-nav ul a:hover {
	background: #ee3b24;
}

.isotope-nav ul a.active:after,
.isotope-nav ul a:hover:after {
	border-color: #ee3b24 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}


/* Feature box
================================================== */
.feature-icon {
	color: #ee3b24;
}

.feature-center-icon {
	color: #ee3b24;
}

/* About us
================================================== */

/* Featured Tab */

.featured-tab .nav-link.active {
	background: #ee3b24;
}

.featured-tab .nav-link.active::before {
	border-left-color: #ee3b24;
}

.featured-tab .nav-link:hover {
	background: #ee3b24;
	color: #fff !important;
}

.featured-tab .nav-link:hover:before {
	border-left-color: #ee3b24;
}

/* Pricing table
================================================== */

.plan.featured .plan-price {
	background: #ee3b24;
}

.plan.featured .plan-price:after {
	border-top-color: #ee3b24;
}

/* Testimonial
================================================== */

.testimonial-slide .testimonial-text:before {
	color: #ee3b24;
}

.testimonial-slide .testimonial-text:after {
	color: #ee3b24;
}

.testimonial-slide.owl-theme .owl-controls .owl-page.active span {
	background: #ee3b24;
}

/* Recent Post
================================================== */

.post-img-overlay a:hover {
	background: #ee3b24;
}


/* Footer
================================================== */

.copyright-info a:hover {
	color: #ee3b24;
}

.footer2 .copyright-info a {
	color: #ee3b24;
}

#back-to-top .btn.btn-primary:hover {
	background: #ee3b24;
}

.footer-about-us h4 {
	color: #ee3b24;
}

.footer-widget .latest-post-content h4 a:hover {
	color: #ee3b24;
}

.subscribe button {
	background: #ee3b24;
}

/* Blog Item page
================================================== */

.post-meta a:hover {
	color: #ee3b24;
}

.author-url span a:hover {
	color: #ee3b24;
}

.comments-counter a:hover {
	color: #ee3b24;
}

.comments-list .comment-reply:hover {
	color: #ee3b24;
}

/*-- Blog sidebar --*/


.widget-tab h4.entry-title a:hover {
	color: #ee3b24;
}

.widget-tags ul>li a:hover {
	background: #ee3b24;
}

/* Landing page
================================================== */

.landing-header.header-bgnone ul.navbar-nav>li:hover>a,
.landing-header.header-bgnone ul.navbar-nav>li.active>a {
	color: #ee3b24;
}

.features-content .features-icon {
	color: #ee3b24;
}

.landing_facts {
	background: #ee3b24;
}

.landing-tab .nav-link.active i {
	color: #ee3b24;
}

.landing-tab .nav-link::before {
	background: #ee3b24;
}

.landing-tab .nav-link:hover i {
	color: #ee3b24 !important;
}

.text-primary {
	color: #ee3b24 !important;
}

.app-gallery.owl-theme .owl-controls .owl-page.active span {
	background: #ee3b24;
}

.landing_page_clients {
	background: #ee3b24;
}

/* Misc */

.title-border {
	border-bottom: 2px solid #ee3b24;
}

.post-title a:hover {
	color: #ee3b24;
}

.portfolio-static-desc a:hover {
	color: #ee3b24;
}

.client-carousel .item a:hover {
	border: 1px solid #ee3b24;
}

.footer ul li a:hover {
	color: #ee3b24;
}

.call-to-action {
	background: #ee3b24;
}

.blog-date {
	background: #ee3b24;
}

.widget-categories ul.category-list li a:hover {
	color: #ee3b24;
}

.about-message ul li a:hover {
	color: #ee3b24;
}


li.list-inline-item a {
	color: #000;
}

.list-itemheader-menu {
	border-right: 1px solid #000;
	padding-right: 10px;
}

.overlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 1050 !important;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
	position: relative;
	top: 46%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	cursor: pointer;
	color: white;
}

.overlay .closebtn:hover {
	color: #ccc;
}

.overlay input[type=text] {
	padding: 15px;
	font-size: 17px;
	border: none;
	float: left;
	width: 80%;
	background: white;
}

.overlay input[type=text]:hover {
	background: #f1f1f1;
}

.overlay button {
	float: left;
	width: 20%;
	padding: 15px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.overlay button:hover {
	background: #bbb;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.custom-carousel {
	height: 100%;
	width: 100%;
}

.custom-carousel-inner {
	/* height: 85rem; */
	width: 100%;
}

.custom-carousel-item {
	height: 100%;
}