@import url(../w3/w3.css);
@import url(../font-awesome/css/all.css);
@import url(../custom-fonts/custom-font-style.css);
@import url(bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap");
@font-face {
  font-family: 'SF UI Display Medium';
  src: url("../sf-font/sf-compact-display-medium.otf"); }
@font-face {
  font-family: 'SF UI Display Thin';
  font-style: normal;
  font-weight: normal;
  src: url("../sf-font/sf-compact-display-thin.otf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

input,
textarea {
  outline: none; }
  input:focus, input:active,
  textarea:focus,
  textarea:active {
    outline: none; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none; }

html {
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 1.4rem;
  color: #333333;
  font-family: "Open Sans", sans-serif; }

.btn {
  padding: 1.17rem 1.5rem;
  border-radius: 0.5rem;
  height: 4rem; }

.btn-primary {
  background: #106CFF; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #106CFF;
    box-shadow: none; }

.btn-dark-blue {
  background: #0f4d98;
  color: #fff; }
  .btn-dark-blue:hover, .btn-dark-blue:focus, .btn-dark-blue:active {
    background: #0f4d98;
    box-shadow: none; }

.btn-light-blue {
  background: #C8D7EE;
  color: #fff; }
  .btn-light-blue:hover, .btn-light-blue:focus, .btn-light-blue:active {
    background: #C8D7EE;
    box-shadow: none; }

.btn-secondary {
  background: #fff;
  border: 1px solid #444;
  color: #000; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background: #fff;
    color: #000;
    box-shadow: none; }

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background: #fff;
  color: #000;
  box-shadow: none; }

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  background: #fff;
  color: #000;
  box-shadow: none; }

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background: #106CFF;
  box-shadow: none; }

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  background: #106CFF;
  box-shadow: none; }

.btn.dropdown-btn {
  padding: 0;
  height: auto;
  background: transparent;
  border-radius: unset;
  outline: none;
  box-shadow: none; }
  .btn.dropdown-btn:focus, .btn.dropdown-btn:active {
    outline: none;
    box-shadow: none; }

.form-control {
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 1px solid #333;
  display: block;
  width: 100%;
  border-radius: unset; }
  .form-control:focus {
    border-color: inherit;
    box-shadow: none; }

label {
  margin-bottom: 0; }

.dropdown-menu {
  padding: 0; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.overflow-hidden {
  overflow: hidden; }

.display-none {
  display: none; }

.visibility-hidden {
  visibility: hidden; }

.cursor-pointer {
  cursor: pointer; }

.text-center {
  text-align: center; }

.text-ellipsis {
  max-width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.pad-05 {
  padding: 0.5rem; }

.pad-0-05 {
  padding: 0 0.5rem; }

.pad-05-0 {
  padding: 0.5rem 0; }

.pad-top-05 {
  padding-top: 0.5rem; }

.pad-bottom-05 {
  padding-bottom: 0.5rem; }

.pad-left-05 {
  padding-left: 0.5rem; }

.pad-right-05 {
  padding-right: 0.5rem; }

.pad-10 {
  padding: 1rem; }

.pad-0-10 {
  padding: 0 1rem; }

.pad-10-0 {
  padding: 1rem 0; }

.pad-top-10 {
  padding-top: 1rem; }

.pad-bottom-10 {
  padding-bottom: 1rem; }

.pad-left-10 {
  padding-left: 1rem; }

.pad-right-10 {
  padding-right: 1rem; }

.mar-10 {
  margin: 1rem; }

.mar-0-10 {
  margin: 0 1rem; }

.mar-10-0 {
  margin: 1rem 0; }

.mar-top-10 {
  margin-top: 1rem; }

.mar-bottom-10 {
  margin-bottom: 1rem; }

.mar-left-10 {
  margin-left: 1rem; }

.mar-right-10 {
  margin-right: 1rem; }

.mar-05 {
  margin: 0.5rem; }

.mar-0-05 {
  margin: 0 0.5rem; }

.mar-05-0 {
  margin: 0.5rem 0; }

.mar-top-05 {
  margin-top: 0.5rem; }

.mar-bottom-05 {
  margin-bottom: 0.5rem; }

.mar-left-05 {
  margin-left: 0.5rem; }

.mar-right-05 {
  margin-right: 0.5rem; }

.pad-15 {
  padding: 1.5rem; }

.pad-0-15 {
  padding: 0 1.5rem; }

.pad-15-0 {
  padding: 1.5rem 0; }

.pad-top-15 {
  padding-top: 1.5rem; }

.pad-bottom-15 {
  padding-bottom: 1.5rem; }

.pad-left-15 {
  padding-left: 1.5rem; }

.pad-right-15 {
  padding-right: 1.5rem; }

.mar-15 {
  margin: 1.5rem; }

.mar-0-15 {
  margin: 0 1.5rem; }

.mar-15-0 {
  margin: 1.5rem 0; }

.mar-top-15 {
  margin-top: 1.5rem; }

.mar-bottom-15 {
  margin-bottom: 1.5rem; }

.mar-left-15 {
  margin-left: 1.5rem; }

.mar-right-15 {
  margin-right: 1.5rem; }

.pad-20 {
  padding: 2rem; }

.pad-0-20 {
  padding: 0 2rem; }

.pad-20-0 {
  padding: 2rem 0; }

.pad-top-20 {
  padding-top: 2rem; }

.pad-bottom-20 {
  padding-bottom: 2rem; }

.pad-left-20 {
  padding-left: 2rem; }

.pad-right-20 {
  padding-right: 2rem; }

.mar-20 {
  margin: 2rem; }

.mar-0-20 {
  margin: 0 2rem; }

.mar-20-0 {
  margin: 2rem 0; }

.mar-top-20 {
  margin-top: 2rem; }

.mar-bottom-20 {
  margin-bottom: 2rem; }

.mar-left-20 {
  margin-left: 2rem; }

.mar-right-20 {
  margin-right: 2rem; }

.danger-strip {
  background: #F94137;
  color: #fff; }

.text-danger {
  color: #F94137; }

.text-red {
  color: #E00543; }

.success-strip {
  background: green;
  color: #fff; }

.text-success {
  color: green; }

.text-muted {
  color: grey; }

.text-yellow {
  color: #F19334; }

.text-white {
  color: #fff; }

.bg-success {
  background: #097A23; }

.bg-yellow {
  background: #F19334; }

.bg-red {
  background: #E00543; }

.disabled {
  pointer-events: none; }

.disabled-background {
  pointer-events: none;
  background: #CDD4E8; }

.border {
  border: 0.1rem solid #CDD4E5; }

.border-top {
  border-top: 0.1rem solid #CDD4E5; }

.border-bottom {
  border-bottom: 0.1rem solid #CDD4E5; }

.border-left {
  border-left: 0.1rem solid #CDD4E5; }

.border-right {
  border-right: 0.1rem solid #CDD4E5; }

.border-right-none {
  border-right: none; }

.para-text {
  line-height: 1; }

.heading-bold {
  font-size: 2rem;
  font-weight: bold; }

.highlight-text {
  color: #106CFF;
  font-family: Open Sans; }

.underline-text {
  text-decoration: underline; }

.bold-text {
  font-weight: bold; }

.vertical-center {
  display: flex;
  align-items: center; }

.custom-checkbox {
  position: relative;
  cursor: pointer;
  margin-bottom: 0; }
  .custom-checkbox input[type="checkbox"] {
    display: none; }
  .custom-checkbox .custom-checkbox-icon:after {
    content: "\f0c8";
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    display: inline-block; }
  .custom-checkbox input[type="checkbox"]:checked ~ .custom-checkbox-icon:after {
    content: "\f14a"; }

.custom-radio {
  position: relative;
  cursor: pointer; }
  .custom-radio input[type="radio"] {
    display: none; }
  .custom-radio .custom-radio-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid green;
    border-radius: 50%; }
  .custom-radio input[type="radio"]:checked ~ .custom-radio-icon {
    border: 0.1rem solid #F94137; }

.body-background {
  background: #f3f6fd; }

.high-bg {
  background: #C0D4F4;
  border-radius: 1px;
  padding: .5rem; }

.mid-bg {
  background: #CCD3DE;
  border-radius: 1px;
  padding: .5rem; }

.low-bg {
  background: #fff;
  border-radius: 1px;
  padding: .5rem; }

.dumble-align {
  display: flex;
  justify-content: center;
  justify-content: space-between; }

.small-heading {
  font-size: 1.6rem;
  color: #000;
  font-weight: bold; }
  .small-heading-theme {
    font-size: 1.6rem;
    color: #106CFF;
    font-weight: bold; }

.grid-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem; }

.four-grid-list-item {
  margin: 0.5rem;
  width: calc(25% - 1rem); }

.three-grid-list-item {
  margin: 0.5rem;
  width: calc(33% - 1rem); }

.height-100 {
  height: 100%; }

.overflow-auto {
  overflow: auto; }

.flex-align-center {
  align-items: center; }

/* Main navigation */
.navbar {
  padding: 0; }
  .navbar-toggler:focus {
    outline: 0; }

.navbar-dark .navbar-nav .nav-link {
  color: #000; }

.navbar-light .navbar-nav .nav-link {
  color: #333; }

.navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px 15px 8px !important;
  transition: .2s ease;
  font-size: 14px;
  color: #000; }

/* Dropdown */
.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: scaleX(1); }
.dropdown-item {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 15px;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: .2s ease; }
  .dropdown-item:hover {
    background: #fff; }
.dropdown-menu {
  padding: 0 15px;
  border: 0;
  border-radius: 0px;
  width: auto;
  box-shadow: none;
  background: none;
  min-width: 180px;
  top: 100%;
  left: -10px;
  border-radius: 0;
  visibility: hidden;
  transition: .3s ease;
  opacity: 0;
  transform: scale(0.8);
  background: #fff; }
  .dropdown-menu.show {
    visibility: hidden; }

/*-- Header style 1 --*/
.header-solid {
  background: #191919;
  box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.2); }

/*-- Logo --*/
.navbar-brand.navbar-bg {
  position: absolute;
  left: 0;
  padding: 3px 15px 10px;
  width: 13%;
  height: 62px;
  line-height: 62px;
  z-index: 1;
  top: 58px; }

/* Header Style - 2
================================================== */
.header2 {
  padding: 8px 0; }
  .header2 .navbar {
    padding: 0; }

.header2 .navbar-brand {
  background: none;
  padding-top: 3px; }

/* Header Style - 3
================================================== */
.header3 .navbar {
  background: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.2); }
  .header3 .navbar-brand {
    background: transparent; }
  .header3 .navbar-toggler {
    background: transparent; }

/* Header Style - 4
================================================== */
.header4 {
  background: #fff;
  box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.2); }
  .header4 .navbar-brand {
    background: transparent; }
  .header4 .navbar-toggler {
    background: transparent; }

.avira-navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 5.3rem; }

@media (max-width: 62em) {
  .navbar-nav {
    padding-top: .425rem;
    padding-left: 0.75rem; }

  .navbar-nav .nav-item {
    float: none; }

  .navbar-brand {
    float: right; }

  .navbar-brand,
  .navbar-nav .nav-item {
    display: block; }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }

  .dropdown-menu {
    position: relative;
    float: none; } }
.avira-navbar.scrolled {
  background: #000; }

.avira-carousal-section {
  padding-top: 5.3rem; }

.carousel-inner img {
  width: 100%;
  height: 100%; }

.nav-anchor {
  height: 100%;
  width: 10rem; }
  .nav-anchor img {
    height: 100%;
    width: 100%; }

.avira-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.avira-bar-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.avira-menu-container {
  width: 60%; }

.avira-bar-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding: 0 2rem; }

.avira-demo-btn-container {
  background: #F4AB1E;
  border-radius: 40px;
  padding: .5rem 2rem; }

.avira-slider-container {
  height: 50rem; }

.avira-slidercontent-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; }

.avira-slider-rightpart {
  width: 40rem; }
  .avira-slider-rightpart img {
    width: 100%; }

.avira-slider-leftpart {
  text-align: left; }

.avira-slider-leftpart-heading {
  font-family: lato;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #665D52;
  margin-bottom: 1rem; }

.avira-slider-leftpart-subheading {
  font-family: lato;
  color: #343434;
  font-size: 2rem;
  margin-bottom: 3rem; }

.slider-demopart {
  background: #F4AB1E;
  border-radius: 27px;
  padding: .8rem 2.8rem;
  font-size: 1.8rem;
  font-family: sf ui display thin; }

.avira-slider-leftpart-btn-container {
  display: flex;
  align-items: center; }

.slider-learnmore {
  font-size: 1.6rem;
  color: #fff;
  font-family: sf ui display medium;
  padding-left: 1rem;
  cursor: pointer; }

.arrow-right {
  padding-left: 1rem;
  transition: .5s ease; }

.about-img-wrapper img {
  width: 100%; }

.aboutus-section {
  margin-bottom: 10rem; }

.underline-header {
  color: #000;
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
  border-bottom: 4px solid #F4AB1E;
  margin-bottom: 2rem;
  font-family: roboto;
  text-transform: uppercase;
  letter-spacing: 2px; }

.about-usbtn {
  padding-top: 3rem;
  text-align: right;
  cursor: pointer; }

.about-us-content {
  color: #000;
  text-align: justify;
  font-size: 1.6rem;
  width: 45%;
  font-family: roboto; }

.flex-end {
  display: flex;
  justify-content: flex-end; }

.our-solution-wrapper {
  background: #fff;
  padding: 8rem 0; }

.our-solution-header {
  font-size: 4rem;
  color: #343434;
  opacity: 0.8;
  font-family: lato;
  text-align: center;
  font-weight: 300;
  margin-bottom: 2rem;
  border-bottom: 5px solid #665D52;
  display: inline-block; }

.avira-card-description {
  font-family: lato;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: .5rem;
  color: #000;
  margin-top: 1.5rem;
  line-height: 1.2; }

.avira-card-section:not(:last-child) {
  border-right: 1px solid #616161; }

.avira-card-detail {
  color: #000;
  font-size: 1.6rem;
  text-align: justify;
  padding: .8rem 0;
  padding: 5px 0px;
  line-height: 1.45;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-family: roboto;
  -webkit-box-orient: vertical; }

.avira-card-btn {
  font-size: 1.4rem;
  color: #fff;
  font-family: roboto;
  cursor: pointer;
  background: #000;
  display: inline-block;
  padding: .5rem 2rem;
  margin-top: 2rem; }

.avira-card-img img {
  width: 100%; }

.avira-card-container {
  padding-bottom: 3rem; }

.avira-cardbottom-btn {
  text-align: center;
  padding: 3rem; }
  .avira-cardbottom-btn a {
    background: #665d52;
    border-radius: 6rem;
    padding: 1rem 3rem;
    color: #fff;
    font-size: 1.4rem;
    font-family: lato;
    font-weight: 300; }

.the-blogs-wrapper {
  background: #fafafa; }

.avira-footer-wrapper {
  background-image: url("../images/Footer.jpg");
  background-size: cover;
  color: #fff;
  font-family: sf ui display thin; }

.footer-card {
  position: relative; }

.footer-card:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 2rem;
  background: #fff;
  top: -8px;
  left: 0; }

.footer-pad-part {
  padding-top: 6.4rem;
  padding-bottom: 1.5rem; }

.footer-copyrights-section {
  padding-top: 6rem; }

.footer-top-header {
  font-size: 2rem;
  font-family: sf ui display medium;
  padding-bottom: 2rem;
  line-height: 1.1; }

.footer-links {
  font-size: 1.6rem;
  font-family: sf ui display thin;
  transition: .5s ease all; }

span.avira-footer-ico {
  padding-right: 2rem;
  cursor: pointer;
  font-size: 1.8rem; }

#email-signup {
  height: 4rem;
  padding: 0px 5px 0px 10px;
  width: 35rem;
  caret-color: #F4AB1E;
  background-color: white;
  font-size: 1.6rem;
  outline-style: none;
  border: none;
  border-radius: 10rem;
  color: #AEAEAE;
  font-family: lato; }

#btn {
  border-radius: 10rem;
  height: 4rem;
  width: 124px;
  background-color: #F4AB1E;
  border: none;
  font-size: 16rem;
  float: right;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer; }

#btn:hover {
  background-color: #e34602; }

#email-signup:hover {
  background-color: #f2f2f2; }

#email-signup:focus {
  background-color: #f2f2f2; }

@media (max-width: 500px) {
  body {
    margin-top: 50px; }

  .signup {
    display: inline-flex;
    width: 95vw;
    height: auto;
    margin: 0;
    flex-wrap: wrap; }

  #btn {
    width: 100%; }

  #email-signup {
    width: 90vw; } }
.footer-subscribe-form {
  position: relative;
  width: 35rem;
  padding-bottom: 1.5rem; }

.arrow-right:hover {
  padding-left: 2rem; }

.footer-links:hover {
  transform: scale(1.1); }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px; }

#myBtn:hover {
  background-color: #555; }

.mySlides {
  display: none;
  height: 100%; }

.business-section.grey-background {
  background: #fafafa; }

.business-img-wrapper {
  width: 30rem;
  margin: 0 auto; }
  .business-img-wrapper img {
    width: 100%; }

.normalline-header {
  font-family: lato;
  font-size: 2.5rem;
  font-weight: 300;
  color: #343434;
  padding-bottom: 1.5rem; }

.visit-btn button {
  background: #F4AB1E;
  border-radius: 56px;
  border: none;
  padding: .5rem 4rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #fff;
  font-family: lato;
  cursor: pointer;
  transition: .5s ease all; }
  .visit-btn button:hover {
    transform: scale(1.1); }

.visit-btn {
  text-align: right; }

.case-studies-header {
  text-align: center;
  margin-bottom: 5rem; }

.case-studies-header-heading {
  color: #343434;
  font-size: 3.6rem;
  font-family: lato; }

.case-studies-header-heading {
  color: #343434;
  font-size: 3.6rem;
  font-family: lato;
  border-bottom: 5px solid #665D52;
  display: inline-block;
  margin-bottom: 2.5rem; }

.case-studies-header-content {
  color: #616161;
  font-size: 1.6rem;
  width: 50%;
  margin: 0 auto;
  font-family: lato; }

.casestudies-name-author {
  color: #616161;
  font-family: century gothic;
  font-size: 1.6rem;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem; }

.case-studies-author-notes {
  color: #343434;
  font-family: lato;
  font-size: 1.6rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #8b7d7d; }

.case-studies-author-subnotes {
  padding-top: 3rem;
  padding-bottom: 3.5rem;
  font-size: 1.6rem;
  font-family: century gothic;
  text-align: justify;
  border-bottom: 1px solid #acacac; }

.casestudiess-chart-container img {
  width: 100%;
  height: 100%; }

.casestudies-content-section {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  font-family: lato;
  color: #343434;
  font-size: 1.6rem;
  text-align: justify; }

.casestudies-redchart-container {
  width: 60%;
  padding-bottom: 2rem; }
  .casestudies-redchart-container img {
    width: 100%;
    height: 100%; }

.case-studies-redchart-wrapper {
  border-bottom: 1px solid #acacac; }

.case-studies-about-author-container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.about-author-header {
  padding-bottom: 2rem;
  color: #616161;
  font-family: lato;
  font-size: 2.2rem; }

.about-author-detail {
  font-size: 1.6rem;
  color: #616161; }

.text-align-centre {
  text-align: center; }

.avirateam-description {
  padding-bottom: 2rem;
  font-family: lato; }

.avira-aboutus-card {
  background: #FAFAFA; }

.aviraabout-ustext {
  padding: 3rem 0; }

.aviraabout-us-ourvision {
  padding: 3rem 0; }

.aboutus-topheader-content {
  font-size: 2rem;
  font-family: lato;
  color: #343434;
  border-bottom: 4px solid #665D52;
  display: inline-block; }

.aboutus-text-content {
  padding: 2rem 0;
  font-family: lato;
  font-size: 1.6rem;
  text-align: justify; }

.avirablog-author-notes {
  font-size: 1.6rem;
  font-family: century gothic;
  color: #343434;
  text-align: justify; }

.blogtopimg-container {
  width: 40rem; }

.blogtopimg-container img {
  width: 100%; }

.blog-author-subnotes {
  font-size: 1.6rem;
  font-family: century gothic;
  color: #343434;
  text-align: justify;
  padding-top: 1rem; }

.blogmidpart-heading {
  font-size: 2.5rem;
  padding: 2rem 0;
  color: #343434;
  font-family: century gothic; }

.blogmidpart-contenttext {
  padding: 1.5rem 0;
  text-align: justify;
  color: #343434;
  font-size: 1.5rem;
  font-family: century gothic; }

.blogmid-contenttext-border {
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
  padding: 3rem 0;
  color: #343434;
  text-align: justify;
  font-size: 1.4rem;
  font-style: italic; }

.blogredchart-text-wrapper {
  padding: 3rem 0; }

.blog-redchart-container {
  width: 100%; }

.blog-redchart-container img {
  width: 100%; }

.blogmidpart-contenttext-chart {
  text-align: justify;
  color: #343434;
  font-size: 1.5rem;
  font-family: century gothic; }

.contactus-section {
  background: #fafafa; }

.conatcttext-heading-wrapper {
  text-align: center;
  font-size: 2.5rem;
  color: #343434;
  font-family: lato; }

.conatcttext-heading {
  display: inline-block;
  border-bottom: 4px solid #665D52; }

.contact-subheading {
  font-size: 2rem;
  color: #999999;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  font-family: lato; }

.contact-img-container {
  width: 40rem;
  margin: 0 auto; }

.contact-img-container img {
  width: 100%; }

.contact-top-wrapper {
  align-items: flex-end;
  padding: 2rem 0; }

.contact-form-control {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  color: #000; }

.contact-form-control input {
  width: 85%;
  border: transparent;
  border-bottom: 2px solid #DEDEDE;
  background: transparent;
  padding: 1rem; }

.contact-send-button button {
  background: #F4AB1E;
  border: none;
  padding: 1rem 5rem;
  border-radius: 2rem;
  color: #fff; }

.contactus-section {
  padding: 3rem 0; }

.aviracontact-otherpart {
  padding: 5rem 0; }

.contact-box-wrapper {
  text-align: center; }

.contact-imglabel {
  color: #343434;
  font-size: 1.6rem;
  padding-bottom: 2rem; }

.contact-img-label-detail {
  color: #616161;
  font-size: 1.5rem;
  font-family: lato; }

.custom-list-inline-item {
  font-size: 1.4rem; }

form.example input[type=text] {
  padding: 5px;
  font-size: 12px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1; }

form.example button {
  float: left;
  width: 20%;
  padding: 5px;
  background: #2196F3;
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer; }

form.example button:hover {
  background: #0b7dda; }

form.example::after {
  content: "";
  clear: both;
  display: table; }

.custom-list-inline-item-bottom a {
  text-decoration: underline; }

.custom-dropdown-toggle::after {
  display: none; }

.navbar-nav li:hover > ul.dropdown-menu {
  display: block; }

.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px; }

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg); }

.navbar-dark .navbar-nav .active > .nav-link {
  color: #000; }

span.header-login-ico {
  padding-right: .8rem;
  color: #000; }

.containera {
  padding: 0 3rem; }

#sync1 .item,
#sync1 .item-video {
  background: #0c83e7;
  height: 200px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center; }

#sync2 .item {
  background: #C9C9C9;
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer; }

#sync2 .item h1 {
  font-size: 18px; }

#sync2 .synced .item {
  background: #0c83e7; }

.footer {
  background: #000; }

.footer-menu-header {
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 0.5rem; }

.footer-menu-list {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6); }

.footer-menu-section {
  padding: 3rem 7rem; }

.subscrine-social-wrapper {
  padding: 3rem;
  border-bottom: 1px solid #fff;
  margin: 0 3rem; }

span.social-ico {
  color: #fff;
  padding-right: 1rem;
  font-size: 2rem;
  cursor: pointer; }

.subscribe-page h5 {
  color: #fff;
  padding-bottom: .3rem; }

.copyright-section {
  padding: 1rem 3rem 3rem;
  color: rgba(255, 255, 255, 0.6); }

.footer-addition-link {
  cursor: pointer; }

.video-section {
  padding: 5rem 2rem; }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.wwa-header {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0; }

.wwa-header-text {
  border-bottom: 5px solid #007bff;
  display: inline-block;
  color: #000;
  font-weight: bold; }

.wwa-img-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem; }

.wwa-text-wrapper {
  font-size: 1.4rem;
  color: #676a6c; }

.wwa-footer {
  font-size: 2.5rem;
  text-align: center;
  padding: 4rem 5rem;
  font-weight: bold;
  color: #000;
  font-family: roboto; }

.other-header {
  background: #000; }

.wwd-wrapper {
  padding: 2rem 10rem;
  text-align: center; }

.wwd-img-content-box {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.wwd-img-wrapper {
  width: 50rem;
  padding-bottom: 3rem; }

.wwd-img-wrapper img {
  width: 100%; }

.wwd-discription-wrapper {
  color: #676a6c;
  font-size: 1.8rem; }

.our-clients-text-content {
  font-size: 1.8rem;
  text-align: center;
  color: #676a6c; }

.client-wrapper-box {
  padding: 4rem 7rem; }

.screenmain-heading-wrapper .title:before {
  left: 0;
  width: 156%;
  height: 3px;
  margin-left: -28%;
  bottom: -1.5px; }

.screenmain-heading-wrapper .title:after {
  left: 50%;
  width: 25px;
  height: 25px;
  bottom: -26px;
  margin: 0 0 0 -10px;
  -webkit-clip-path: polygon(75% 0, 75% 69%, 41% 93%, 0 68%, 0 0);
  clip-path: polygon(75% 0, 75% 69%, 41% 93%, 0 68%, 0 0); }

.screenmain-heading-wrapper .title:before,
.screenmain-heading-wrapper .title:after {
  position: absolute;
  background: linear-gradient(to right, #ed6ea0 0, #ec8c69 100%);
  content: ""; }

.screenmain-heading-wrapper .title {
  font-weight: 700;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
  color: #555;
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase; }

.avira-newsroom-wrapper {
  padding: 3rem 5rem; }

.avira-newsroom-block {
  border: 1px solid #545454;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem; }

.newsroom-date {
  font-size: 1.6rem;
  background: #43f4;
  display: inline-block;
  padding: .5rem;
  border-radius: 1rem; }

.avira-newsrrom-title {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: .5rem;
  padding-top: .5rem; }

.avira-newsroom-contenttext {
  padding-bottom: 1rem; }

button.avira-newsroom-block-btn {
  padding: .5rem 3rem;
  border: none;
  font-size: 1.2rem;
  cursor: pointer; }

.aviranews-btn-container {
  text-align: right; }

.avira-jobs-wrapper {
  padding: 3rem 5rem; }

.apply-job-block {
  padding: 1rem;
  border: 1px solid #e4e4e4;
  margin: 1rem; }

.job-designation {
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 2px solid #000;
  display: inline-block; }

.job-sectioninfo-section {
  display: flex; }

.job-left-header {
  padding-right: 1rem;
  width: 10%; }

.job-right-part {
  padding-left: 1rem; }

.career-nav-tabs {
  border-bottom: none;
  justify-content: flex-end; }
  .career-nav-tabs li {
    margin: 1rem;
    color: #000; }
    .career-nav-tabs li.active {
      border-bottom: 2px solid #000;
      padding-bottom: 1rem; }
    .career-nav-tabs li a {
      color: #000; }

.fabric-cxo-img-wrapper {
  height: 100%;
  width: 100%; }

.fabric-cxo-img-wrapper img {
  width: 100%;
  height: 100%; }

.trend-industrypart-section {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between; }

.avira-trens-content-box div {
  font-size: 1.4rem;
  border: 1px solid #454545;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: .5rem; }

.avira-keytrends-wrapper {
  width: 49%; }

.avira-keytrends-graph-wrapper {
  width: 49%; }

.header-top-menu-search {
  float: left;
  height: 50px;
  margin: 0 8%;
  position: relative;
  width: 34%; }
  .header-top-menu-search ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: fff;
    opacity: 1;
    /* Firefox */ }
  .header-top-menu-search :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: fff; }
  .header-top-menu-search ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: fff; }
  .header-top-menu-search input {
    font-size: 12px;
    height: 30px;
    padding: 4px 8px;
    position: absolute;
    background: none;
    border-color: #fff;
    border-radius: 15px;
    border-width: 0 0 1px;
    transition: all .8s ease-in-out;
    width: 30px; }
    .header-top-menu-search input:focus {
      outline: none;
      border-radius: 0 15px 15px 0;
      width: 250px; }
      .header-top-menu-search input:focus ~ button.btn-search {
        background: #fff;
        color: #000;
        left: 222px;
        transform: rotate(720deg); }
      .header-top-menu-search input:focus ~ button.btn-reset {
        left: 256px;
        transform: rotate(360deg); }
  .header-top-menu-search button {
    text-align: center;
    transition: all .8s ease-in-out; }
    .header-top-menu-search button.btn-search {
      position: absolute;
      font-size: 12px;
      background: #fff;
      border-radius: 50%;
      height: 40px;
      left: 0;
      width: 40px; }
      .header-top-menu-search button.btn-search:focus {
        outline: none; }
      .header-top-menu-search button.btn-search i {
        display: flex;
        justify-content: center;
        align-items: center; }
    .header-top-menu-search button.btn-reset {
      position: absolute;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 50%;
      font-size: 12px;
      height: 20px;
      left: 2px;
      line-height: 20px;
      padding: 0;
      top: 10px;
      width: 20px;
      z-index: -1; }

.footer-menu-list a:hover {
  text-decoration: underline; }

section#vedio-section {
  padding: 2rem 5rem; }

figure.snip0051 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  border: 2px solid #000;
  margin: 1rem;
  max-height: 300px;
  min-height: 300px;
  width: calc(50% - 2rem);
  background: #000000;
  box-shadow: 1px 2px 3px 4px #000; }

figure.snip0051 > img {
  margin-left: 40%;
  opacity: 1;
  width: 60%;
  filter: blur(0px);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  height: 100%; }

figure.snip0051 figcaption {
  left: 0;
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  background: #F4AB1E; }

figure.snip0051 figcaption h2,
figure.snip0051 figcaption p {
  margin: 0;
  color: #000;
  text-align: right;
  position: absolute;
  padding: 10px 0 10px 0px;
  margin: 0 40px 0 20px;
  text-transform: uppercase; }

figure.snip0051 figcaption h2 {
  font-size: 1.3em;
  bottom: 50%;
  right: 0;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

figure.snip0051 figcaption h2 span {
  font-weight: 800; }

figure.snip0051 figcaption p {
  top: 50%;
  font-size: 0.9em;
  opacity: 0.8;
  right: 0; }

figure.snip0051 .icons {
  position: absolute;
  top: 50%;
  padding-left: 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

figure.snip0051 .icons .extra {
  font-size: 16px;
  padding: 10px;
  color: #ffffff;
  opacity: 0;
  top: 50%;
  display: inline-block;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transform: translateX(50px);
  transform: translateX(50px); }

figure.snip0051 .icons a:first-child .extra {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

figure.snip0051 .icons a:nth-child(2) .extra {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

figure.snip0051 .icons a:nth-child(3) .extra {
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

figure.snip0051:hover > img,
figure.snip0051.hover > img {
  opacity: 0;
  filter: blur(5px);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

figure.snip0051:hover > figcaption,
figure.snip0051.hover > figcaption {
  width: 0; }

figure.snip0051:hover .extra,
figure.snip0051.hover .extra {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0);
  text-align: justify;
  padding: .5rem;
  font-size: 1.5rem; }

figure.snip0051:hover a:first-child .extra,
figure.snip0051.hover a:first-child .extra {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

figure.snip0051:hover a:nth-child(2) .extra,
figure.snip0051.hover a:nth-child(2) .extra {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

figure.snip0051:hover a:nth-child(3) .extra,
figure.snip0051.hover a:nth-child(3) .extra {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.aviraheader-top {
  padding: 1rem .5rem .5rem .5rem; }

.our-expertiseblock-container {
  padding: 3rem 0; }
  .our-expertiseblock-container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .our-expertiseblock-container div .box {
      width: calc(28.33% - 4rem);
      height: 8rem;
      border: 10px solid #210d8e;
      margin: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5rem;
      color: #fff;
      transition: .2s ease;
      cursor: pointer; }
      .our-expertiseblock-container div .box:hover {
        border: 10px solid #efaa1c; }
        .our-expertiseblock-container div .box:hover .landing-page-expertise-icon {
          background: #efaa1c; }

.box.box-2 {
  flex: 1; }

.dashboard-banner-image-container img {
  width: 100%;
  height: 100%; }

.baneer-box-wrapper {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  display: flex; }

.banner-box:not(:last-child) {
  border-right: 1px solid #eee; }

.bannerbox-ico {
  font-size: 3rem;
  color: #efaa1c;
  height: 6rem;
  width: 6rem;
  margin: 0 auto; }

.bannerbox-heading {
  padding: .5rem 0;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: roboto; }

.bannerbox-description {
  padding: 1.5rem 0;
  text-align: center;
  color: #fff;
  font-family: roboto; }

.bannerbox-btn {
  padding-bottom: 1rem; }

.dashboard-banner-image-container {
  position: relative;
  margin: 0 auto;
  height: 50rem;
  background: linear-gradient(rgba(97, 82, 47, 0.5), rgba(138, 98, 69, 0.9)), url(../svg/Ourexpertise-overview-banner-img.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.banner-image-container-cxo {
  height: 63rem; }

.banner-title-description-wrapper {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 85%; }

.banner-title-front {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
  font-family: roboto; }

.banner-descirption-front {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  font-family: roboto; }

.banner-box {
  text-align: center;
  flex: 1;
  cursor: pointer;
  padding: 1rem;
  transition: .2s linear; }

.banner-box:hover {
  background: #fff;
  color: #000;
  transform: scale(1.1); }

.banner-box:hover .bannerbox-description {
  color: #000; }

.bannerbox-btn a {
  border: 1px solid #efaa1c;
  padding: .5rem 2rem;
  border-radius: .5rem;
  background: #efaa1c;
  font-family: roboto; }

section#our-approach {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.landing-page-expertise-wrapper {
  width: 70%;
  height: 100%;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 1.6rem;
  align-items: center;
  justify-content: center; }

.landing-page-expertise-icon {
  background: #64dd97;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  position: relative;
  justify-content: center; }

.landing-page-expertise-icon-wrapper {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.landing-page-expertise-icon-wrapper img {
  height: 100%;
  width: 100%; }

.input-group-text-log {
  font-size: 1.6rem;
  color: #efaa1c; }

.login-part-wrapper {
  background-image: url(../images/Login-grey-BG.jpg);
  min-height: 100vh;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.contact-part-wrapper {
  background: #f2f2f2;
  background-size: 100% 100%; }

.content-data-wrapper-forlogin {
  margin-top: 0;
  height: 100vh;
  overflow: auto; }

.wwa-imgbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 2rem;
  background: #000;
  flex-wrap: wrap; }

.wwabox-wrapper-container {
  width: calc(33.33% - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem; }

.wwabox-wrapper-img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: center; }

.wwabox-wraper-content {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.6rem;
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  letter-spacing: 1.1px; }

.row.penalyst-detail-container {
  margin-top: 7rem;
  position: relative;
  margin-bottom: 10rem; }

.penalist-img-container {
  background: #000;
  max-width: 25rem;
  height: 25rem;
  margin-left: 15rem;
  border-radius: 50%; }

.panel-name {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: .3rem;
  margin-bottom: 2rem;
  border-bottom: 1.5px solid #f9c025; }

.panel-name span {
  font-size: 2rem;
  color: #f9c025;
  font-weight: 500;
  letter-spacing: .4rem;
  text-transform: uppercase; }

.panel-history {
  font-size: 1.7rem;
  margin-bottom: 1.5rem; }

.penalist-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.teamhader-caption {
  color: #f9c025;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0; }

.teamhader-caption div {
  display: inline-block;
  border-bottom: 4px solid #f9c025; }

span.highlighted-text-para {
  font-weight: bold;
  color: #25a046; }

.subtitle-for-extra {
  font-weight: bold;
  color: #fff;
  border-bottom: 5px solid #fff;
  display: inline-block;
  padding-bottom: 2rem; }

.header-for-subtitle-extra {
  padding: 3rem 0;
  background: #000; }

.subscribe-page input {
  font: 14px "Open Sans", Helvetica, Arial, Sans-serif;
  border-radius: 3px; }
.subscribe-page form input,
.subscribe-page form input:focus {
  padding: 6px 13px;
  border: 0;
  outline: 0; }
.subscribe-page form input[type="email"] {
  margin-right: 15px;
  width: 300px;
  color: #a09f9f; }
.subscribe-page form input[type="submit"] {
  padding: 6px 15px;
  color: #fff;
  background: #353a44 !important;
  text-shadow: 0 2px 2px #333;
  box-shadow: inset 0 0 0 transparent;
  background: #508f9f;
  background: linear-gradient(to bottom, #508f9f 0%, #346976 100%);
  transition: all .3s ease-in-out; }
.subscribe-page form input[type="submit"]:hover,
.subscribe-page form input[type="submit"]:focus {
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.1);
  color: white;
  margin-left: 10px; }

.without-main-page {
  background: #fff;
  box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.5); }

.avira-wwa-textwrapper {
  padding-bottom: .5rem;
  font-size: 1.6rem;
  font-family: roboto; }

.wwa-img-container {
  width: 38%; }

.bg-white-2 {
  background: #f8f8f8; }

.bg-white-3 {
  background: #fffafa; }

.about-us-content-home {
  width: 100%; }

.custom-row {
  display: flex;
  flex-wrap: wrap; }

.img-bg-shape {
  height: 50rem;
  width: 45rem;
  border-radius: 25rem 25rem 0 25rem;
  position: relative; }

.img-bg-shape-blue {
  background: #f15a25; }

.img-bg-shape-yellow {
  background: #F4AB1E; }

.img-bg-shape-red {
  background: #bccd2f; }

.border-bottom-color-red {
  border-bottom: 6px solid #ff3939 !important; }

.border-bottom-color-blue {
  border-bottom: 6px solid #36d5b6 !important; }

.img-bg-shape img {
  width: 100%;
  height: 100%; }

.wwa-list-items ul li {
  list-style: none; }

.wwa-list-items ul li span {
  color: #F4AB1E; }

.wwaimg-wrapper-do-left {
  width: 59rem;
  position: absolute;
  top: 6rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2); }

.wwaimg-wrapper-do-right {
  width: 59rem;
  position: absolute;
  top: 6rem;
  right: -1rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2); }

.wwd-infographic-content-wrapper {
  position: relative;
  min-height: 60rem;
  background: #efecea;
  width: 80%;
  margin: 0 auto; }

.wwd-ifographi-container {
  height: 40rem;
  width: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.wwd-ifographi-container img {
  width: 100%;
  height: 100%; }

.bol-text {
  font-weight: bold !important; }

.multiline-menu-container {
  display: flex;
  left: -70rem !important; }

.wwd-infocontent-wrapper {
  font-size: 1.6rem;
  color: #000;
  position: absolute; }

.wwd-infographic-left-1 {
  top: 20%;
  left: 8%; }

.wwd-infographic-left-2 {
  top: 40%;
  left: 8%; }

.wwd-infographic-left-3 {
  top: 60%;
  left: 8%; }

.wwd-infographic-right-1 {
  top: 20%;
  right: 8%; }

.wwd-infographic-right-2 {
  top: 40%;
  right: 8%; }

.wwd-infographic-right-3 {
  top: 60%;
  right: 8%; }

.wwd-infoarrow-ico {
  color: #F4AB1E;
  font-size: 2rem; }

.wwa-footer-wwd {
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  color: #000;
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0;
  font-family: roboto; }

.bg-black {
  background: #000; }

.color-white {
  color: #fff !important; }

.avira-blocks-inner-header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  display: inline-block;
  border-bottom: 4px solid #F4AB1E;
  margin-bottom: 2rem;
  font-family: roboto; }

.aviraour-client-large-heading {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 2rem; }

.avira-ourclient-btn {
  color: #fff;
  padding: 1rem;
  text-align: center;
  letter-spacing: 2px; }

span.avira-ourclient-btn-ico {
  padding-left: 1rem; }

.header-with-margin {
  margin-top: 13.6rem; }

.banner-title-description-wrapper-custom {
  width: 50% !important; }

.color-yallow {
  color: #F4AB1E !important; }

.banner-descirption-front-ourclient {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px; }

.client-box {
  width: calc(25% - 4rem);
  padding: 2rem; }

.client-box-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
  border-bottom: 5px dashed #e4e4e4; }

.client-box-header-ico {
  text-align: center; }

.client-box-heading {
  padding: 2rem 0;
  font-weight: bold;
  text-align: center;
  color: #000;
  font-size: 1.6rem; }

.client-box-content {
  line-height: 2.1; }

.client-box:not(:last-child) {
  border-right: 5px dashed #e4e4e4; }

.our-client-perticular {
  padding: 2rem; }

.ourclient-imgwrapper {
  width: 40%; }

.ourclient-text-wrapper {
  width: 60%; }

.ourclient-img-content-wrapper {
  padding: 2rem 15rem; }

.ourclient-imgwrapper img {
  width: 100%;
  height: 100%; }

.ourclient-text-wrapbox {
  padding-bottom: 1.5rem; }

.ourclient-text-wrapbox-heading {
  font-size: 3.5rem;
  font-weight: bold;
  color: #000;
  font-family: roboto;
  padding-bottom: 1rem; }

.ourclient-text-wrapbox-content {
  color: #000;
  font-size: 1.6rem;
  text-align: justify;
  font-weight: bold; }

.ourclient-imagemain-wrapper {
  width: 40rem;
  height: 60rem; }

.ourclient-imagemain-wrapper img {
  width: 100%;
  height: 100%; }

.wwaour-client-header-text {
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 5px solid #F4AB1E;
  display: inline-block;
  color: #000;
  font-family: roboto; }

.bg-wwa-header {
  background: #fffafa; }

.alliances-wrapper {
  padding: 2rem; }

.alliances-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 5rem; }

.alliances-box {
  width: calc(33.33% - 4rem);
  padding: 2rem;
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.3); }

.alliances-ico {
  text-align: center;
  padding-bottom: 2rem;
  min-height: 8rem;
  max-height: 8rem;
  width: 20rem;
  margin: 0 auto; }

.alliances-ks-part {
  border: 1px solid #b9aeae;
  padding: .5rem;
  color: #000;
  min-height: 6rem;
  border-radius: 1rem;
  font-family: roboto; }

.alliances-ico img {
  object-fit: unset; }

.color-blue {
  color: #36d5b6; }

.avira-career-box-wrapper {
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap; }

.avira-career-box {
  margin: 2rem;
  width: calc(33.33% - 4rem); }

.avira-career-box-heading {
  color: #000;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 3rem;
  font-weight: bold;
  font-family: roboto; }

.avira-career-content-wrapper {
  padding: 1rem 3rem;
  color: #000;
  font-family: roboto; }

.left-career-box-heading {
  font-size: 1.6rem;
  font-weight: bold; }

.avira-career-box-body {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); }

.avira-career-box-footer {
  text-align: center;
  padding: 2rem;
  color: #fff;
  font-size: 2rem; }

.career-box-msz {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #000;
  padding: 2rem; }

.avira-job-description-wrapper {
  padding: 2rem 5rem 5rem; }

.avira-jd-heading {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: roboto;
  padding-bottom: 1rem; }

.avira-jd-details-text {
  position: relative;
  padding-bottom: 1rem;
  color: #000;
  font-weight: bold;
  font-family: roboto;
  font-size: 1.5rem; }

.avira-jd-details-text:before {
  content: "";
  background: #000;
  width: 1rem;
  height: .5rem;
  position: absolute;
  top: 27%;
  transform: translatey(-50%);
  left: -19px; }

.alliances-content-text {
  color: #000;
  text-align: justify;
  padding-top: 1.5rem;
  font-family: roboto; }

.fabric-principle-wrapper {
  padding: 4rem 2rem; }

span.bold-text-alliances {
  font-size: 1.6rem;
  font-weight: bold;
  color: #000;
  padding-right: 1rem;
  font-family: roboto; }

.fabric-principle-img-wrapper {
  width: 70%;
  margin: 0 auto; }

.fabric-principle-img-wrapper img {
  width: 100%; }

.fabric-principle-img-wrapper {
  width: 50%;
  margin: 0 auto;
  padding: 6rem 0; }

.points-with-bullets {
  display: flex; }

.points-with-bullets-ico {
  padding-right: 2rem;
  color: #F4AB1E;
  font-size: 1rem;
  padding-top: .5rem; }

.fabric-features-slider-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3rem; }

.features-carousal-heading {
  padding: 2rem 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #000;
  font-family: roboto; }

section.content-wrapper-virtual-cxo {
  padding: 2rem 5rem; }

.fabric-cxo-video-wrapper {
  position: absolute;
  bottom: -19rem;
  left: 50%;
  transform: translatex(-50%);
  display: none; }

.afeatures-inforgraphic-wrapper {
  background: #f1f2f2; }

.custom-cxo-vdo {
  position: relative; }

.content-wrapper-fabric-explore {
  padding: 12rem 0; }

.ask-for-demo-btn {
  background: #F4AB1E;
  color: #fff;
  text-align: center;
  width: 30rem;
  padding: 1rem;
  border-radius: 2rem; }

.ask-for-demo-btn a {
  width: 100%;
  display: inline-block; }

.ask-for-demo-btn-explore {
  margin-top: 5rem; }

.avira-textwrapper-with-rightarrow {
  display: flex;
  align-items: baseline; }

.rightarrow-bullet-part {
  font-size: 2rem;
  padding-right: 2rem;
  color: #F4AB1E; }

.avira-text-cxo-wrapper {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  color: #000;
  text-align: justify;
  font-family: roboto; }

.fabric-cxo-video-wrapper-w {
  text-align: center;
  width: 100%; }

.form-row {
  display: flex; }

.form-col {
  width: 50%;
  padding: 0 10%; }

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem; }

.time-slot-devider {
  margin-top: 10rem; }

.form-label {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  color: #000; }

.form-field {
  padding: 0.7rem;
  border: none;
  border-bottom: 1px solid #000;
  color: #868283; }

.required {
  color: red; }

.form-term-group {
  margin-top: 6rem;
  display: flex;
  margin-bottom: 1rem;
  font-size: 1rem; }

.form-button-group {
  justify-content: flex-end;
  display: flex;
  padding-bottom: 2rem; }

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee; }

.checkbox-container input:checked ~ .checkmark:after {
  display: block; }

.checkbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.form-button {
  padding: 0.5rem 1rem;
  width: 14.5rem;
  border: 1px solid #e9e5e6;
  background: #000;
  border-radius: 0.8rem;
  color: #fff;
  cursor: pointer; }

.section-heading {
  margin-bottom: 3rem;
  font-size: 5rem !important;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  color: var(--theme);
  font-family: "gotham"; }

.wwaimg-wrapper-do-other {
  width: 60%;
  margin: 3rem auto; }

.whaw-v-do-text {
  color: #000;
  font-size: 1.6rem;
  width: 64%;
  margin: 0 auto;
  text-align: center;
  font-family: roboto; }

.term-text {
  font-size: 1.4rem; }

.contact-avira-wrapper {
  margin-top: 9rem; }

.contact-avira-location-header {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase; }

.contact-avira-box-wrapper {
  display: flex;
  justify-content: center;
  padding-left: 10rem;
  padding-top: 4rem; }

.contact-avira-box {
  padding: 2rem;
  width: calc(33.33% - 4rem); }

.contact-box-img {
  width: 5rem;
  height: 5rem;
  padding-bottom: .5rem; }

.contact-box-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.contact-avira-countryname {
  font-size: 1.4rem;
  color: #000;
  padding-bottom: 1rem;
  font-weight: bold; }

.contact-avira-add-wrapper div {
  padding-bottom: .5rem; }

.contact-avira-pnumber {
  color: blue; }

.contact-avira-wrapper-banner {
  height: 35rem;
  position: relative; }

.contact-avira-wrapper-banner img {
  height: 100%;
  width: 100%; }

.contact-avira-ofclocation-wrapper {
  padding: 5rem 0; }

.contact-avira-banner-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translatex(-50%);
  text-align: center; }

.contact-banner-text-heading {
  font-size: 4rem;
  font-weight: bold; }

.contact-banner-text-btn {
  background: #F4AB1E;
  color: #fff;
  width: 25rem;
  border-radius: 1rem;
  padding: 1.7rem;
  text-align: center;
  margin: 2rem auto; }

.contact-banner-text-content {
  font-size: 1.6rem;
  color: #000;
  padding-top: 1rem; }

.contact-banner-text-btn a {
  display: inline-block;
  width: 100%; }

.contact-avira-form-wrapper {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 3rem 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.contact-avira-form-heading {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
  color: #000; }

.contact-avira-form-subheading {
  font-size: 1.6rem;
  color: #000;
  padding-bottom: 1rem; }

.contact-avira-instruction-wrapper {
  font-size: 1.4rem;
  color: #000;
  padding-bottom: 1rem; }

form.avira-contact-form-container label {
  font-weight: bold;
  color: #000; }

.contact-form-avira-btn {
  padding-top: 3rem;
  padding-left: 2rem; }

.custompack-page-container {
  width: 80%;
  display: flex;
  margin: 4rem auto;
  justify-content: space-between; }

.custompack-heading-container {
  width: 29.7%;
  background: #FFFFFF;
  box-shadow: 0px 2px 29px rgba(0, 0, 0, 0.3);
  border-radius: 5px; }

.custompack-headingvalue-section:not(:last-child) {
  border-bottom: 2px solid #7E87AD; }

.custompack-headingvalue-section.heading-col {
  min-height: 7rem; }

.custompack-headingvalue-section {
  padding: 2rem 1rem 2rem 1rem;
  min-height: 22rem; }

.custompack-heading-title {
  font-size: 1.6rem;
  color: #0084FF;
  font-weight: bold;
  padding-bottom: .5rem;
  height: 2.5rem; }

.po-notification-ico {
  padding-left: 1rem; }

.custompack-detail-container {
  width: 69.7%;
  background: #FFFFFF;
  box-shadow: 0px 2px 29px rgba(0, 0, 0, 0.3);
  border-radius: 5px; }

.custompack-control-section:not(:last-child) {
  border-bottom: 2px solid #7E87AD; }

.custompack-control-section.heading-col {
  min-height: 7rem;
  font-size: 1.8rem;
  color: #0084FF;
  font-family: gotham bold;
  text-align: center; }

.custompack-control-section {
  padding: 2rem 20rem 2rem 7rem;
  min-height: 22rem; }

.custompack-control-container {
  padding-bottom: .5rem;
  height: 3rem; }

.support-dropdown {
  background: #fff;
  border: 1px solid #106CFF;
  border-radius: 5px;
  padding: 0 1rem; }

.carousel-control-prev-icon-features {
  background-image: url("../images/Preview2.png");
  width: 40px;
  height: 40px; }

.carousel-control-next-icon-features {
  background-image: url("../images/next2.png");
  width: 40px;
  height: 40px; }

.carousel-control-prev-features {
  left: -2.5rem; }

.carousel-control-next-features {
  right: -2.5rem; }

.banner-title-front-cxo {
  font-size: 4rem; }

.banner-descirption-front-cxo {
  font-size: 2.8rem; }

.custompack-dropdown-wrapper {
  width: 50%;
  border-radius: .5rem;
  cursor: pointer; }

.custompack-content-value {
  min-height: 3rem; }

.main-expertise-overview-wrapper {
  margin-top: 13.6rem; }

.avira-consulting-textbox-wrapper {
  position: relative; }

.avira-consulting-textbox {
  position: absolute;
  bottom: -32%;
  min-height: 35rem;
  width: 60%;
  left: 35%;
  padding: 2rem;
  background: #f2f2f2; }

.avira-consulting-box-heading {
  font-size: 2.5rem;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  font-family: roboto;
  text-transform: uppercase;
  border-bottom: 5px solid #F4AB1E;
  display: inline-block; }

.avira-consulting-box-content {
  text-align: justify;
  padding-top: 2rem;
  font-size: 1.6rem;
  line-height: 1.8; }

.content-wrapper-expertise-modules {
  margin-top: 30rem; }

.list-consulting-box-container {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: #25a046;
  font-family: roboto; }

.expertise-img-box-textwrapper {
  color: #000;
  padding-bottom: 1rem;
  line-height: 1.5;
  font-family: roboto; }

.text-capital {
  text-transform: uppercase; }

.aviratrend-trendsname-heading {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold; }

.trend-explore-section {
  padding: 2rem 6rem 5rem; }

.trend-detail-section {
  padding-bottom: 10rem; }

.trend-sectionbox-heading {
  font-size: 3.4rem;
  font-weight: bold;
  color: #000;
  position: relative;
  padding-bottom: 3rem; }

.trend-details-counter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }

.trend-counter-box {
  text-align: center;
  text-align: center;
  width: 30rem;
  margin-bottom: 2rem; }

.trend-counter-box-heading {
  font-weight: bold;
  font-size: 3.5rem;
  color: #000;
  text-transform: uppercase; }

.trend-counter-box-value {
  padding-top: 1rem;
  color: #d21e1e;
  font-weight: bold;
  font-size: 3rem;
  font-family: roboto; }

.trend-industry-name,
.trend-key-companies-name {
  color: #000;
  font-size: 1.6rem;
  padding-bottom: .5rem;
  font-weight: bold; }

.trend-industry-kcompanies-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.trend-industry-box {
  min-height: 25rem !important; }

.trend-key-companies-box {
  min-height: 30rem !important; }

.aviratrend-name-content {
  font-size: 2rem;
  text-align: justify;
  color: #fff; }

.trendname-wrppaer-section {
  padding-bottom: 4rem; }

.trend-impact-value-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.avira-other-wrapper {
  width: 45%; }

.trend-counter-percentage-ico {
  color: #d21e1e;
  font-size: 3.8rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: roboto; }

.grid-gallery {
  padding: 2rem 5.5rem 5rem; }

.grid-gallery-item {
  padding: 0;
  margin: 0.5rem;
  max-width: 200px;
  display: inline-block; }

/*
    Enhance the gallery layout if CSS Grid is supported.
  */
@supports (display: grid) {
  .grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    grid-auto-rows: 100px;
    grid-gap: 1rem; }

  @media screen and (min-width: 420px) {
    .grid-gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, auto));
      grid-auto-rows: 200px;
      grid-gap: 1rem;
      grid-auto-flow: dense; } }
  .grid-gallery-item {
    margin: 0;
    max-width: none; }

  .grid-gallery-item:first-child {
    grid-row: span 2;
    grid-column: span 2; }

  .grid-gallery-item:nth-child(5) {
    grid-row: span 2; }

  .grid-gallery-item:nth-child(8) {
    grid-column: span 2; }

  img {
    width: 100%;
    height: 100%; } }
.culture-value-box {
  width: 75%;
  margin: 2rem; }

.culture-value-ico-container {
  display: flex; }

.main-wrapper-culture-value {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 10rem; }

.culture-value-middle-wrapper {
  background: #efaa1c;
  padding: 2rem;
  color: #fff;
  font-size: 1.6rem;
  position: relative;
  font-weight: bold;
  width: 20%; }

.culture-value-ico-wrapper {
  padding-right: 2rem;
  font-size: 2rem;
  color: #344d4d; }

.culture-value-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  font-family: roboto; }

.culture-value-heading-content {
  font-size: 1.4rem;
  color: #000;
  text-align: justify;
  font-family: roboto; }

.custom-culture-value-box-wrapper {
  padding-left: 8rem; }

.culture-contentwrapper-img {
  height: 50rem;
  position: relative; }

.culture-contentwrapper-img img {
  height: 100%;
  width: 100%; }

.culture-image-content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: roboto; }

.culture-image-content-heading {
  font-weight: bold;
  font-size: 3.5rem;
  color: #fff;
  position: relative;
  margin-bottom: 1rem; }

.culture-image-content-subheading {
  padding-top: 3rem;
  font-size: 2rem;
  color: #fff;
  text-align: center; }

.culture-image-content-btn {
  text-align: center;
  padding-top: 3rem; }

.culture-image-content-btn a {
  background: #000;
  color: #fff;
  padding: 1.5rem 5rem; }

.jd-apply-btn {
  text-align: right; }

.jd-apply-btn a {
  background: #efaa1c;
  color: #fff;
  padding: 1rem 4rem;
  opacity: .9; }
  .jd-apply-btn a:hover {
    opacity: 1; }

.custom-file.apply-form-custom-upload {
  width: 25rem;
  margin-left: 4rem;
  margin-top: 1rem; }

.culture-value-ico {
  width: 5rem;
  height: 5rem; }

.culture-value-ico img {
  width: 100%;
  height: 100%; }

.avira-blogexplore-content-section {
  padding: 5rem 10rem; }

.blogexplore-socialico-content-wrapper {
  display: flex; }

.avira-blog-socialico-container {
  width: 15%;
  text-align: center;
  position: fixed; }

.avirablog-content-wrapper {
  width: 85%;
  margin-left: 15%; }

.avirablog-social-ico {
  font-size: 3rem; }

.avirablog-detail-heading {
  text-align: center;
  font-size: 4.5rem;
  padding-bottom: 2rem;
  font-weight: bold;
  color: #000; }

.blog-details-section-custom:first-letter {
  font-size: 6rem;
  float: left;
  line-height: 20%;
  margin: 1rem;
  font-weight: bold; }

.blog-details-section {
  padding-bottom: 2rem;
  text-align: justify;
  color: #000;
  font-size: 1.7rem; }

.avirablog0img-container {
  padding-bottom: 2rem; }

.avirablog0img-container img {
  width: 100%;
  height: 100%; }

a.navbar-brand.navbar-bg img {
  height: auto !important; }

.avira-blog-content-section,
.avira-blogexplore-content-section {
  margin-top: 13.5rem; }

h1.blog-details-sub-heading {
  color: #000;
  font-weight: bold;
  font-family: roboto;
  font-size: 2.2rem; }

section#home {
  margin-top: 9.4rem; }

span.arrow-content {
  background: #000;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  transition: .5s ease all;
  text-transform: uppercase;
  font-family: roboto;
  letter-spacing: 1px; }

span.arrow-content:hover {
  background: #fff;
  border: 1px solid #000;
  color: #000; }

.wwa-list-items ul li {
  padding-bottom: .7rem; }

.video-heading-home {
  text-align: center;
  color: #3008c5;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 2rem;
  font-family: roboto; }

div#vedio-section {
  background: #e4e4e4;
  padding: 1rem 5rem; }

.client-chainimg {
  width: 20rem; }

.clientinner-img-content-wrapper {
  justify-content: space-around;
  width: 85%;
  margin: 0 auto; }

.team-part-section {
  display: flex;
  padding: 2rem 5rem;
  flex-wrap: wrap; }

.team-wrapper-box {
  display: flex;
  margin: 2rem;
  width: calc(50% - 4rem);
  padding-bottom: 2rem; }

.team-img-wrapper {
  min-width: 15rem;
  position: relative;
  max-width: 15rem;
  min-height: 15rem;
  max-height: 15rem; }

.team-img-wrapper img {
  width: 100%; }

.teamabout-section {
  padding-left: 1rem; }

.team-name-heading {
  color: #fff;
  padding: .5rem;
  position: relative;
  display: inline-block;
  width: 20rem;
  left: -50px;
  top: -1rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center; }

.team-designation-section {
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: roboto; }

.team-wwa-header {
  padding: 0; }

.team-details-decsription {
  color: #000;
  font-size: 1.4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-align: justify;
  font-family: roboto; }

.team-img-overline-box {
  position: absolute;
  height: 15rem;
  width: 15rem;
  border: 5px solid transparent;
  left: -15px;
  top: -2rem;
  z-index: -1; }

.border-red {
  border-color: #bccd2f; }

.border-blue {
  border-color: #f15a25; }

.border-yellow {
  border-color: #F4AB1E; }

.team-more-btn {
  color: #fff;
  display: inline-block;
  justify-content: right;
  padding: .5rem 2rem;
  margin-top: 0.5rem;
  cursor: pointer; }

.team-explore-modal {
  display: block;
  padding-right: 17px;
  top: 60%;
  transform: translatey(-60%); }
  .team-explore-modal .modal-body {
    padding: 3rem;
    color: #000;
    text-align: justify;
    font-size: 1.4rem; }

.client-explore-wrapper {
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 50%; }

.transparent-border {
  font-size: 4.5rem;
  border-color: transparent;
  margin-bottom: 1rem; }

.avira-innerpart-heading {
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding: 2rem 0; }

.solution-two-blocks-wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  padding-top: 16rem; }

.client-inner-solution-block {
  display: flex;
  position: relative; }

.client-inner-solution-block {
  width: calc(45% - 5rem);
  margin: 2.5rem;
  background: #fff;
  box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.2);
  padding: 2rem; }

.solution-block-img-container {
  position: absolute;
  height: 25rem;
  width: 25rem;
  top: -70%;
  left: 25%; }

.solution-block-text-container {
  padding-top: 7rem; }

.solution-block-img-container img {
  width: 100%;
  height: 100%; }

.solution-box-heading {
  color: #000;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1.5rem; }

.text-solution-box {
  color: #000;
  text-align: center;
  font-size: 1.6rem; }

.solution-client-btnwrapper {
  text-align: center;
  padding-top: 2rem; }

.solution-client-btnwrapper a {
  background: #000;
  color: #fff;
  padding: 2rem 5rem;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: .5rem; }

section.ourclient-secondrow-wrapper {
  padding-top: 3rem; }

.br-flex-part-section {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.innerclient-br-wrapper {
  width: 48%; }

.client-inner-imgcontainer {
  width: 48%; }

.client-hashtag-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10rem; }

.main-container-hashtag {
  display: flex;
  align-items: center;
  background: #a8ced7;
  margin: .5rem;
  padding: 0.3rem; }

.hashtag-pic {
  width: 4rem; }

.client-hashtag-btn {
  color: #000;
  font-weight: bold; }

.cloient-inner-picimg-text {
  font-size: 6rem; }

.career-nav-pills {
  justify-content: center;
  padding: 2rem; }

.culture-value-middle-wrapper div {
  position: absolute;
  width: 40rem;
  transform: rotate(90deg);
  top: 50%;
  left: -90%;
  font-size: 2.6rem; }

.internal-wrapper-avira-fabric {
  width: 60%;
  padding: 5rem 0;
  margin: 0 auto; }

.pricebanner-wrapper {
  height: 50rem; }

.price-main-wrapper {
  position: relative; }

.price-banner-heading {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translatex(-50%);
  font-weight: bold; }
  .price-banner-heading div {
    font-weight: bold;
    font-family: roboto;
    font-size: 3rem;
    color: #000; }

.customhome-search-frmcontrol {
  padding: 0.5rem 1rem !important;
  padding-left: 2.375rem !important; }

.pricing-greater-sign {
  color: #fff; }

.price-banner-subheading {
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
  transform: translatex(-50%);
  font-size: 2.3rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.3;
  font-family: roboto; }

.pricing-infographic-container {
  position: absolute;
  top: 40%;
  width: 70rem;
  left: 50%;
  transform: translatex(-50%); }

.price-form-section {
  padding-top: 50rem;
  padding-bottom: 3rem; }

.priceform-heading {
  color: #000;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  font-family: roboto;
  letter-spacing: .7px; }

.trend-skyblue-bg {
  background: #2ddcd3; }

.trend-orange-bg {
  background: #f99f3d; }

.related-trend-wrap {
  overflow: hidden;
  padding: 10px;
  font-family: Helvetica; }

.related-trend-wrap .mask {
  position: relative;
  left: 0px;
  top: 10px;
  font-size: 1.6rem;
  height: 240px;
  overflow: hidden;
  font-family: roboto; }

.related-trend-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

.related-trend-wrap ul li {
  padding: 10px 0px; }

.related-trend-wrap ul li a {
  color: #000;
  text-decoration: none; }

.rtrend-vertical-slider {
  width: 45%; }

.trend-with-verticalslider {
  display: flex;
  justify-content: space-between; }

.aviratrend-name-section {
  font-size: 2rem;
  font-weight: bold; }

.avira-trnsdetails-namepart {
  display: flex;
  padding: 2rem 10rem;
  align-items: center;
  justify-content: center; }

.aviratrend-name-section-heading {
  color: #000;
  font-weight: bold;
  font-size: 3rem;
  padding-right: 2rem; }

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  margin-top: 9.4rem; }

ul.breadcrumb li {
  display: inline;
  font-size: 18px; }

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0"; }

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none; }

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline; }

.top-header {
  background: #f4f5f5; }

.top-header {
  font-family: lato;
  background: #f4f5f5; }

/* Bootstrap 4 text input with search icon */
.has-search .form-control {
  padding-left: 2.375rem;
  border-bottom: none; }

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa; }

.sm-header-row {
  padding: .5rem 0; }

.form-group.has-search {
  margin-bottom: 0; }

.sm-header-row .list-inline {
  margin-bottom: 0; }

.custom-navbar {
  padding: 2rem 0 !important; }

.expertise-value-wrapper {
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 1.4rem; }

.expertise-nucleous-wrapper {
  position: relative;
  height: 100%;
  width: 100%; }

.expertise-nucleous-wrapper-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2.2rem;
  transform: translate(-50%, -50%); }

.avira-homepage-counter-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #f1f2f2;
  padding: 6rem 0; }
  .avira-homepage-counter-section #sandeep-counter {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1; }
  .avira-homepage-counter-section .count {
    line-height: 100px;
    color: #af472b;
    font-size: 25px;
    font-size: 5rem;
    font-weight: bold; }
  .avira-homepage-counter-section #talkbubble {
    width: 120px;
    height: 80px;
    background: red;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    float: left;
    margin: 20px; }
  .avira-homepage-counter-section #talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid red;
    border-bottom: 13px solid transparent; }
  .avira-homepage-counter-section .linker {
    font-size: 20px;
    color: black; }

.sandy-counter-plus {
  font-size: 5rem;
  color: #af472b; }

.expertise-solution-grid {
  display: flex;
  justify-content: space-between; }

.graph-expertise-vertcal-text {
  width: 12%;
  background: #bccd2f;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 1.5rem; }

.home-blogs-casestudies-section {
  width: 24%;
  background: #f1f2f2;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.graph-expertise-home {
  width: 37%;
  background: #f1f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; }

.home-blog-expertise-box {
  padding: 1rem .5rem; }

.home-blog-expertise-box h1 {
  font-weight: bold;
  color: #000;
  font-size: 2rem; }

.home-blog-expertise-box p {
  color: #000;
  font-size: 1.4rem;
  padding-top: 1rem; }

.home-blog-expertise-btn {
  color: #bccd2f;
  font-size: 1.5rem;
  font-weight: bold; }

.home-blog-expertise-btn a {
  padding-right: 1rem; }

.sandeep-counter-rotation-text {
  font-size: 2rem;
  font-weight: bold;
  color: #150551; }

.graph-expertise-vertcal-text h1 {
  font-weight: bold;
  font-family: roboto; }

.home-blog-cs-wrapper {
  padding: 0.5rem 2em;
  text-align: right; }

.home-blog-cs-btn {
  background: #000;
  color: #fff;
  padding: .5rem 3rem; }

.img-yellow-jobcard {
  border: 5px solid #F4AB1E;
  border-radius: 1rem; }

.img-red-jobcard {
  border: 5px solid #bccd2f;
  border-radius: 1rem; }

.img-blue-jobcard {
  border: 5px solid #f15a25;
  border-radius: 1rem; }

.img-darkbrown-jobcard {
  border: 5px solid #af472b;
  border-radius: 1rem; }

.img-bg-shape-darkbrown {
  background: #af472b; }

.avira-grid-gallary {
  width: 80%;
  margin: 0 auto; }

.wwa-oc-wrapper {
  padding: .5rem 5rem 5rem 5rem; }

.trend-container.container {
  margin-top: 10rem;
  background: #e4e4e4;
  padding: 2rem; }

.wwa-list-items ul li {
  font-size: 1.6rem;
  color: #000;
  font-family: roboto; }

.trend-firstrow-box {
  min-height: 12rem;
  background: #fff;
  border-radius: 2px;
  display: block;
  margin: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem; }

.trend-heading-name {
  margin: 0 1rem;
  font-weight: bold;
  font-family: roboto;
  font-size: 2rem;
  color: #000; }

.trend-firstrow-box.impact-imp-boxrow {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.trend-firstrow-box.trend-fourbox {
  height: 10rem;
  width: 13rem;
  text-align: center;
  margin: 0 auto; }

.impacprogress-bar-block {
  height: 3.5rem;
  background: #e4e4e4;
  margin: .1rem; }

.trend-industriescontainer- {
  display: flex; }

.firstblock-container {
  border-radius: 2rem 0 0 2rem; }

.thirdblock-container {
  border-radius: 0 2rem 2rem 0; }

.trend-bar-lebel-section {
  width: calc(33.33% - .2rem);
  text-align: center; }

.trend-barlebel-name {
  font-weight: bold;
  color: #000; }

.trensname-impact-value-wrapper {
  padding-bottom: 1rem;
  padding-top: 2rem; }

.trendimpact-importance-wrapper {
  padding-bottom: 1rem; }

.trend-industries-wrapper {
  padding-bottom: 2rem; }

.companies-othertrend-wrapper {
  padding-bottom: 5rem;
  padding-top: 2rem; }

.trend-industries-wrapper .trend-heading-name {
  padding-bottom: 1rem; }

.trend-imp.positive {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: roboto; }

.trend-companies-othertrend-box {
  min-height: 30rem;
  max-height: 30rem; }

.content-data-wrapper-trend {
  background: #e4e4e4; }

.bg-impact-fill-color {
  background: #bccd30; }

.trend-industries-ico {
  width: 6em;
  margin: 0 auto; }

.trend-industries-text {
  color: #000;
  font-weight: bold;
  font-size: 1.6rem;
  padding-top: 3rem; }

.trend-imp.positive {
  color: #d21e1e; }

.trend-name-txt {
  color: #000;
  font-size: 1.4rem; }

.avira-trend-subscribe-btn {
  padding-top: 5rem;
  text-align: center; }

.avira-trend-subscribe-btn a {
  background: #bccd2f;
  color: #fff;
  padding: 1.5rem 4rem;
  font-size: 1.7rem; }

.trend-impact-valuebox {
  display: flex;
  justify-content: center;
  align-items: center; }

.img-bg-shape-dark-brown {
  background: #af472b; }

.border-dark-brown {
  border-color: #af472b; }

.img-bg-shape-olivegreen {
  background: #afa82f; }

.border-olivegreen {
  border-color: #afa82f; }

.img-bg-shape-mehroon {
  background: #751b31; }

.border-mehroon {
  border-color: #751b31; }

.avira-consulting-part {
  padding-bottom: 5rem; }

a.article-Button {
  padding: 15px 78px 15px 30px;
  margin: 15px 30px -25px 0px;
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 15px;
  color: #ffffff;
  transition: all 0.3s linear;
  text-decoration: none;
  width: auto;
  background-color: #000;
  font-family: roboto;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  float: right; }

.wwa-img-container-exp-overview {
  width: 44%; }

section.content-data-wrapper-expertiseoverview {
  padding: 5rem 0; }

.afd-btn-container {
  background: #F4AB1E;
  color: #fff;
  padding: .3rem 1rem;
  font-family: roboto;
  font-size: 1.2rem; }

.afd-btn-container a {
  color: #fff !important;
  text-decoration: none; }

.wwa-list-items {
  font-family: roboto;
  font-size: 1.6rem;
  color: #000; }

.trend-key-companies-name {
  position: relative;
  padding-left: 2rem; }

.trend-key-companies-name:before {
  position: absolute;
  content: '';
  height: 1rem;
  width: 1rem;
  background: #bccd2f;
  left: 0px;
  top: 6px; }

.blog-writer-info {
  display: flex;
  justify-content: flex-start; }

.blogger-desig {
  font-size: 1.3rem;
  color: #000; }

.blogger-email {
  font-size: 1.2rem;
  color: blue; }

.blogger-email a {
  text-decoration: underline; }

.blogger-name {
  color: #000;
  font-size: 1.6rem;
  font-weight: bold; }

.blog-details-bloggerinfo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.blogger-detailtext {
  font-size: 1.6rem;
  color: #000;
  font-weight: bold;
  font-family: roboto; }

.blogger-detail-value {
  font-size: 1.4rem;
  color: #000;
  font-family: roboto;
  padding-left: 1rem; }

.tooltip-dashboard-graph {
  color: #000;
  font-size: 1.3rem; }

.tooltip-inner {
  font-size: 1.4rem !important;
  max-width: 400px !important;
  color: #000 !important;
  opacity: 1 !important;
  background: #b6ff00 !important;
  border-radius: 5px;
  box-shadow: -3px 3px 15px #888888; }

.clear {
  clear: both; }

.product__resources {
  /*margin: 60px 0 30px;*/
  background: #fafafa;
  width: 100vw;
  padding: 0 0 45px; }

.product__resources .product__cont {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 30px 0; }

.product__cont h2 {
  text-align: center;
  margin: 0 0 60px;
  color: #003A79;
  font-family: roboto; }

.product__resources__item {
  float: left;
  width: calc(33.33% - 30px);
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  margin: 15px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  background: #fff; }

.product__resources__item__img {
  height: 200px;
  width: calc(100% - 60px);
  position: relative;
  left: 30px;
  top: -30px;
  background-size: cover !important;
  background-position: center !important; }

.product__resources__item h3 {
  padding: 0 30px;
  color: #003A79; }

.product__resources__item p {
  padding: 0 30px;
  line-height: 1.45;
  padding: 0 30px;
  line-height: 1.45;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.article-Button:after {
  background: url(https://www.desertfinancial.com/-/media/desert-financial/misc/sharing-success//ctaArrow.svg);
  background-repeat: no-repeat;
  content: "";
  height: 16px;
  margin-left: 15px;
  margin-top: 5px;
  padding-right: 38px;
  position: absolute;
  transition: all 0.3s linear; }

.product__resources__item:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15); }

.product__resources__item a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left; }

@media screen and (max-width: 695px) {
  .product__resources__item {
    width: 100%;
    margin: 30px 0 60px;
    display: block; } }
.section-whatwe-do {
  padding: 5rem 0 7rem; }

.slow {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s; }

.reallyslow {
  -vendor-animation-duration: 6s;
  -vendor-animation-delay: 3s; }

.blog-detail-listinner-part {
  font-weight: normal;
  color: #000;
  font-family: roboto;
  padding: .5rem; }

.blogdetails-li-heading {
  font-weight: bold;
  font-family: roboto; }

.dashboard-banner-image-containerindex {
  position: relative;
  margin: 0 auto;
  height: 50rem;
  background: linear-gradient(rgba(97, 82, 47, 0.5), rgba(138, 98, 69, 0.9)), url(../svg/homepage-banner.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.mr-list-part {
  padding-left: 3rem;
  padding-top: 1rem;
  color: #25a046; }

/* Demo purposes only */

/*# sourceMappingURL=style.css.map */
