.flex-align-center {
  align-items: center; }

/* Main navigation */
.navbar {
  padding: 0; }
  .navbar-toggler:focus {
    outline: 0; }

.navbar-dark .navbar-nav .nav-link {
  color: #000; }

.navbar-light .navbar-nav .nav-link {
  color: #333; }

.navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px 15px 8px !important;
  transition: .2s ease;
  font-size: 14px;
  color: #000; }

/* Dropdown */
.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: scaleX(1); }
.dropdown-item {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 15px;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: .2s ease; }
  .dropdown-item:hover {
    background: #fff; }
.dropdown-menu {
  padding: 0 15px;
  border: 0;
  border-radius: 0px;
  width: auto;
  box-shadow: none;
  background: none;
  min-width: 180px;
  top: 100%;
  left: -10px;
  border-radius: 0;
  visibility: hidden;
  transition: .3s ease;
  opacity: 0;
  transform: scale(0.8);
  background: #fff; }
  .dropdown-menu.show {
    visibility: hidden; }

/*-- Header style 1 --*/
.header-solid {
  background: #191919;
  box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.2); }

/*-- Logo --*/
.navbar-brand.navbar-bg {
  position: absolute;
  left: 0;
  padding: 3px 15px 10px;
  width: 13%;
  height: 62px;
  line-height: 62px;
  z-index: 1;
  top: 45px; }

/* Header Style - 2
================================================== */
.header2 {
  padding: 8px 0; }
  .header2 .navbar {
    padding: 0; }

.header2 .navbar-brand {
  background: none;
  padding-top: 3px; }

/* Header Style - 3
================================================== */
.header3 .navbar {
  background: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.2); }
  .header3 .navbar-brand {
    background: transparent; }
  .header3 .navbar-toggler {
    background: transparent; }

/* Header Style - 4
================================================== */
.header4 {
  background: #fff;
  box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.2); }
  .header4 .navbar-brand {
    background: transparent; }
  .header4 .navbar-toggler {
    background: transparent; }

/*# sourceMappingURL=common.css.map */
