@font-face {
    font-family: 'SF UI Display Medium';
    src: url('../sf-font/sf-compact-display-medium.otf')
}

@font-face {
    font-family: 'SF UI Display Thin';
    font-style: normal;
    font-weight: normal;
    src: url('../sf-font/sf-compact-display-thin.otf')
}