.btn {
    padding: 1.17rem 1.5rem;
    border-radius: 0.5rem;
    height: 4rem;
}

.btn-primary {
    background: $theme-color;

    &:hover,
    &:focus,
    &:active {
        background: $theme-color;
        box-shadow: none;
    }
}

.btn-dark-blue {
    background: $blue-dark;
    color: $white;

    &:hover,
    &:focus,
    &:active {
        background: $blue-dark;
        box-shadow: none;
    }
}

.btn-light-blue {
    background: $block-blue;
    color: $white;


    &:hover,
    &:focus,
    &:active {
        background: $block-blue;
        box-shadow: none;
    }
}

.btn-secondary {
    background: $white;
    border: 1px solid $black-lighter;
    color: $black;

    &:hover,
    &:focus,
    &:active {
        background: $white;
        color: $black;
        box-shadow: none;
    }
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background: $white;
    color: $black;
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    background: $white;
    color: $black;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background: $theme-color;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    background: $theme-color;
    box-shadow: none;
}

.btn.dropdown-btn {
    padding: 0;
    height: auto;
    background: transparent;
    border-radius: unset;
    outline: none;
    box-shadow: none;

    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
    }
}

.form-control {
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 1px solid $black-light;
    display: block;
    width: 100%;
    border-radius: unset;

    &:focus {
        border-color: inherit;
        box-shadow: none;
    }
}

label {
    margin-bottom: 0;
}

.dropdown-menu {
    padding: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.overflow-hidden {
    overflow: hidden;
}

.display-none {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-ellipsis {
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// basic padding 5
.pad-05 {
    padding: 0.5rem;
}

.pad-0-05 {
    padding: 0 0.5rem;
}

.pad-05-0 {
    padding: 0.5rem 0;
}

.pad-top-05 {
    padding-top: 0.5rem;
}

.pad-bottom-05 {
    padding-bottom: 0.5rem;
}

.pad-left-05 {
    padding-left: 0.5rem;
}

.pad-right-05 {
    padding-right: 0.5rem;
}

// basic padding 10
.pad-10 {
    padding: 1rem;
}

.pad-0-10 {
    padding: 0 1rem;
}

.pad-10-0 {
    padding: 1rem 0;
}

.pad-top-10 {
    padding-top: 1rem;
}

.pad-bottom-10 {
    padding-bottom: 1rem;
}

.pad-left-10 {
    padding-left: 1rem;
}

.pad-right-10 {
    padding-right: 1rem;
}

// basic margin 10

.mar-10 {
    margin: 1rem;
}

.mar-0-10 {
    margin: 0 1rem;
}

.mar-10-0 {
    margin: 1rem 0;
}

.mar-top-10 {
    margin-top: 1rem;
}

.mar-bottom-10 {
    margin-bottom: 1rem;
}

.mar-left-10 {
    margin-left: 1rem;
}

.mar-right-10 {
    margin-right: 1rem;
}

// basic margin 05

.mar-05 {
    margin: 0.5rem;
}

.mar-0-05 {
    margin: 0 0.5rem;
}

.mar-05-0 {
    margin: 0.5rem 0;
}

.mar-top-05 {
    margin-top: 0.5rem;
}

.mar-bottom-05 {
    margin-bottom: 0.5rem;
}

.mar-left-05 {
    margin-left: 0.5rem;
}

.mar-right-05 {
    margin-right: 0.5rem;
}

// basic padding 15
.pad-15 {
    padding: 1.5rem;
}

.pad-0-15 {
    padding: 0 1.5rem;
}

.pad-15-0 {
    padding: 1.5rem 0;
}

.pad-top-15 {
    padding-top: 1.5rem;
}

.pad-bottom-15 {
    padding-bottom: 1.5rem;
}

.pad-left-15 {
    padding-left: 1.5rem;
}

.pad-right-15 {
    padding-right: 1.5rem;
}

// basic margin 15

.mar-15 {
    margin: 1.5rem;
}

.mar-0-15 {
    margin: 0 1.5rem;
}

.mar-15-0 {
    margin: 1.5rem 0;
}

.mar-top-15 {
    margin-top: 1.5rem;
}

.mar-bottom-15 {
    margin-bottom: 1.5rem;
}

.mar-left-15 {
    margin-left: 1.5rem;
}

.mar-right-15 {
    margin-right: 1.5rem;
}

// basic padding 20
.pad-20 {
    padding: 2rem;
}

.pad-0-20 {
    padding: 0 2rem;
}

.pad-20-0 {
    padding: 2rem 0;
}

.pad-top-20 {
    padding-top: 2rem;
}

.pad-bottom-20 {
    padding-bottom: 2rem;
}

.pad-left-20 {
    padding-left: 2rem;
}

.pad-right-20 {
    padding-right: 2rem;
}

// basic margin 20

.mar-20 {
    margin: 2rem;
}

.mar-0-20 {
    margin: 0 2rem;
}

.mar-20-0 {
    margin: 2rem 0;
}

.mar-top-20 {
    margin-top: 2rem;
}

.mar-bottom-20 {
    margin-bottom: 2rem;
}

.mar-left-20 {
    margin-left: 2rem;
}

.mar-right-20 {
    margin-right: 2rem;
}

.danger-strip {
    background: $red;
    color: $white;
}

.text-danger {
    color: $red;
}

.text-red {
    color: $light-red;
}

.success-strip {
    background: $green;
    color: $white;
}

.text-success {
    color: $green;
}

.text-muted {
    color: $mute-grey;
}

.text-yellow {
    color: $yellow;
}

.text-white {
    color: #fff;
}

.bg-success {
    background: $dark-green;
}

.bg-yellow {
    background: $yellow;
}

.bg-red {
    background: $light-red;
}

.disabled {
    pointer-events: none;
}

.disabled-background {
    pointer-events: none;
    background: $grey;
}

.border {
    border: 0.1rem solid $border-color;
}

.border-top {
    border-top: 0.1rem solid $border-color;
}

.border-bottom {
    border-bottom: 0.1rem solid $border-color;
}

.border-left {
    border-left: 0.1rem solid $border-color;
}

.border-right {
    border-right: 0.1rem solid $border-color;
}

.border-right-none {
    border-right: none;
}

.para-text {
    line-height: 1;
}

.heading-bold {
    font-size: 2rem;
    font-weight: bold;
}

.highlight-text {
    color: $theme-color;
    font-family: Open Sans;
}

.underline-text {
    text-decoration: underline;
}

.bold-text {
    font-weight: bold;
}

.vertical-center {
    display: flex;
    align-items: center;
}


//Custom Checkbox

.custom-checkbox {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;

    input[type="checkbox"] {
        display: none;
    }

    .custom-checkbox-icon:after {
        content: "\f0c8";
        font-family: 'Font Awesome 5 Free';
        font-weight: 400;
        display: inline-block;
    }

    input[type="checkbox"]:checked~.custom-checkbox-icon:after {
        content: "\f14a";
    }
}

//Custom Radio Button

.custom-radio {
    position: relative;
    cursor: pointer;

    input[type="radio"] {
        display: none;
    }

    .custom-radio-icon {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: 0.1rem solid $green;
        border-radius: 50%;
    }

    input[type="radio"]:checked~.custom-radio-icon {
        border: 0.1rem solid $red;
    }

}

.body-background {
    background: $body-background-color;
}

.high-bg {
    background: $high-color;
    border-radius: 1px;
    padding: .5rem;
}

.mid-bg {
    background: $mid-color;
    border-radius: 1px;
    padding: .5rem;
}

.low-bg {
    background: $white;
    border-radius: 1px;
    padding: .5rem;
}

.dumble-align {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.small-heading {

    font-size: 1.6rem;
    color: $black;
    font-weight: bold;

    &-theme {
        font-size: 1.6rem;
        color: $theme-color;
        font-weight: bold;
    }
}

.grid-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}

.four-grid-list-item {
    margin: 0.5rem;
    width: calc(25% - 1rem);
}

.three-grid-list-item {
    margin: 0.5rem;
    width: calc(33% - 1rem);
}

.height-100 {
    height: 100%;
}

.overflow-auto {
    overflow: auto;
}