@mixin flexbox() {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}


@mixin alignment($left, $top, $position) {
    position: absolute;
    left: $left;
    top: $top;

    @if $position==center {
        transform: translate(-50%, -50%)
    }

    @else if $position==left {
        transform: translateX(-50%)
    }

    @else if $position==top {
        transform: translateY(-50%)
    }
}

@mixin flex-alignment($position) {
    @include flexbox();

    @if $position==center {
        align-items: center;
        justify-content: center;
    }

    @else if $position==vertical {
        align-items: center;
    }

    @else if $position==horizontal {
        justify-content: center;
    }
}