* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea {
    outline: none;

    &:focus,
    &:active {
        outline: none;
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: inherit;
        text-decoration: none;
    }
}

html {
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.4rem;
    color: $text-color;
    font-family: $default-font;
}