@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

// /* cyrillic-ext */

$demo-btn:#F4AB1E;

$body-background-color:#f3f6fd;
$theme-color:#106CFF;
$blue-light:#0183ff;
$blue-dark:#0f4d98;
$white:#fff;
$red:#F94137;
$light-red:#E00543;
$green:green;
$yellow:#F19334;
$text-color:#333333;
$mute-grey:grey;
$grey:#CDD4E8;
$grey-light-dark:#848484;
$grey-text:#A8B4CF;
$grey-icon:#7E87AD;
$black-lighter:#444;
$black-light:#333;
$black:#000;
$black-fill:#080808;
$border-color:#CDD4E5;
$grey-bg:#F1F5FE;
$sep-color:#A4C6FF;
$shodow-color:#e7e7e7;
$default-font:'Open Sans',
sans-serif;
$light-blue:#6097EE;
$block-blue:#C8D7EE;
$light-black:#313131;
$dark-green:#097A23;
$navigantion-border:#0084FF;
$high-color:#C0D4F4;
$mid-color:#CCD3DE;
$dim-grey-border:#8F8F8F;
$light-blue-box:#68A1FB;