<section id="footer" class="footer">
    <div class="footer-menu-section">
        <div class="row">
            <div class="col">
                <div class="footer-menu-header">
                    About us
                </div>
                <div class="footer-menu-list">
                    <a href="who-we-are.html">Who we are</a>
                </div>
                <div class="footer-menu-list">
                    <a href="what-we-do.html">What we do</a>
                </div>
                <div class="footer-menu-list">
                    <a href="our-clients.html">Our client</a>
                </div>
                <div class="footer-menu-list">
                    <a href="team.html">Team</a>
                </div>
                <div class="footer-menu-list">
                    <a href="alliances.html">Alliances</a>
                </div>
                <div class="footer-menu-list">
                    <a href="culture.html">Culture</a>
                </div>
                <div class="footer-menu-list">
                    <a href="career.html">Career</a>
                </div>
            </div>
            <div class="col">
                <div class="footer-menu-header">
                    Fabric
                </div>
                <div class="footer-menu-list">
                    <a href="fabric-overview.html">Overview</a>
                </div>
                <div class="footer-menu-list">
                    <a href="feature.html">Features</a>
                </div>
                <div class="footer-menu-list">
                    <a href="virtual-cxo.html">Virtual CxO</a>
                </div>
                <div class="footer-menu-list">
                    <a href="explore.html">Explore</a>
                </div>
                <div class="footer-menu-list">
                    <a href="pricing.html">Pricing</a>
                </div>
            </div>
            <div class="col">
                <div class="footer-menu-header">
                    Our Expertise
                </div>
                <div class="footer-menu-list">
                    <a href="expertise-overview.html">Overview</a>
                </div>
                <div class="footer-menu-list">
                    <a href="consulting.html">Consulting</a>
                </div>

                <div class="footer-menu-list">
                    <a href="advisory.html">Advisory</a>
                </div>
                <div class="footer-menu-list">
                    <a href="on-demand-analyst.html">On-demand Analyst</a>
                </div>
                <div class="footer-menu-list">
                    <a href="analytics.html">Analytics</a>
                </div>
                <div class="footer-menu-list">
                    <a href="market-report.html"> Market Reports</a>
                </div>
            </div>
            <div class="col">
                <div class="footer-menu-header">
                    Resources
                </div>
                <div class="footer-menu-list">
                    <a href="blog.html">Blogs</a>
                </div>
                <div class="footer-menu-list">
                    <a href="case-studies.html">Case studies</a>
                </div>
            </div>
        </div>
    </div>
    <div class="subscrine-social-wrapper">
        <div class="row">

            <div class="col-lg-10">
                <div class="subscribe-page">

                    <h5>subscribe to our newsletter &hellip;</h5>
                    <form action="#">
                        <input type="https://www.google.com/" placeholder="Email (e.g. someone@host.com)" />
                        <input type="submit" value="Subscribe" />
                    </form>

                </div>
            </div>
            <div class="col-lg-2">
                <div class="social-ico-container">
                    <span class="social-ico"><i class="fab fa-facebook-f"></i></span>
                    <span class="social-ico"><i class="fab fa-twitter"></i></span>
                    <span class="social-ico"><i class="fab fa-linkedin-in"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-section">
        <div class="row">
            <div class="col-lg-4">
                <div class="copreight-content">
                    ©2019 AviraInsights Technologies. All Rights Reserved
                </div>
            </div>
            <!-- <div class="col-lg-2">
                <div class="footer-addition-link">Site map</div>
            </div> -->
            <div class="col-lg-2">
                <div class="footer-addition-link">Privacy policy</div>
            </div>
            <div class="col-lg-2">
                <div class="footer-addition-link">Terms & conditions</div>
            </div>
            <div class="col-lg-2">
                <div class="footer-addition-link">Disclaimer</div>
            </div>
        </div>
    </div>
</section>