<header class="fixed-top header without-main-page" role="banner">
    <div class="top-header">
        <div class="container">
            <div class="row sm-header-row" style="align-items: center;">
                <div class="col-lg-6" style="text-align: right;">
                    <ul class="list-inline">
                        <li class="list-inline-item custom-list-inline-item list-itemheader-menu">
                            <a href="mailto:Contact@avirainsights.com">contactus@avirainsights.com</a>
                        </li>
                        <li class="list-inline-item custom-list-inline-item">
                            <div><i class="fas fa-phone-square-alt"></i></div>
                            <a href="callto:+18886916870">
                                <span class="ml-2"> +1-888-691-6870</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control customhome-search-frmcontrol" placeholder="Search">
                    </div>
                    <!-- <div class="header-top-menu-search">
                        <input type="text" name="search" placeholder="search">
                        <button type="submit" class="btn btn-search">
                            <i class="fas fa-search"></i>
                        </button>
                    </div> -->
                </div>
                <div class="col-lg-3" style="text-align: right;">
                    <ul class="list-inline">
                        <!-- <li class="list-inline-item custom-list-inline-item custom-list-inline-item-bottom">
                            <span class="header-login-ico cursor-pointer"><i class="fas fa-search"></i></span>
                        </li> -->
                        <li class="list-inline-item custom-list-inline-item custom-list-inline-item-bottom"
                            style="padding-right:2rem ;">
                            <div class="afd-btn-container">
                                <a href="login.html">Ask for Demo</a>
                            </div>
                        </li>
                        <li class="list-inline-item custom-list-inline-item custom-list-inline-item-bottom">
                            <span class="header-login-ico"><i class="fas fa-envelope"></i></span>
                            <a href="contact.html">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a class="navbar-brand navbar-bg" href="index.html"><img class="img-fluid float-right" src="images/avira-logo.png"
            style="height: 100%;" alt="logo"></a>
    <div class="container">
        <nav class="navbar custom-navbar navbar-expand-lg">
            <button class="navbar-toggler ml-auto border-0 rounded-0 text-white" type="button" data-toggle="collapse"
                data-target="#navigation" aria-controls="navigation" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navigation">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle custom-dropdown-toggle" href="#" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <ul class="dropdown-menu nav-dropdownmenu">
                            <li><a class="dropdown-item" href="who-we-are.html">Who we are</a></li>
                            <li><a class="dropdown-item" href="what-we-do.html">What we do</a></li>
                            <li><a class="dropdown-item" href="our-clients.html">Our Clients</a></li>
                            <li><a class="dropdown-item" href="team.html">Team</a></li>
                            <li><a class="dropdown-item" href="alliances.html">Alliances</a></li>
                            <!-- <li><a class="dropdown-item" href="news.html">News</a></li> -->
                            <li><a class="dropdown-item" href="culture.html">Culture</a></li>
                            <li><a class="dropdown-item" href="career.html">Career</a></li>

                            <!-- <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                    href="career.html" aria-haspopup="true" aria-expanded="false">Career</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="career.html">Jobs</a>
                                    <a class="dropdown-item" href="culture.html">Culture</a>
                                </ul>
                            </li> -->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle custom-dropdown-toggle" href="#" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Fabric
                        </a>
                        <ul class="dropdown-menu nav-dropdownmenu">
                            <a class="dropdown-item" href="fabric-overview.html">Overview</a>
                            <a class="dropdown-item" href="feature.html">Features</a>
                            <a class="dropdown-item" href="virtual-cxo.html">Virtual CxO</a>
                            <a class="dropdown-item" href="explore.html">Explore</a>
                            <a class="dropdown-item" href="pricing.html">Pricing</a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle custom-dropdown-toggle" href="#" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Expertise</a>
                        <ul class="dropdown-menu nav-dropdownmenu">
                            <a class="dropdown-item" href="expertise-overview.html">Overview</a>
                            <a class="dropdown-item" href="consulting.html">Consulting</a>
                            <a class="dropdown-item" href="advisory.html">Advisory</a>
                            <a class="dropdown-item" href="on-demand-analyst.html">On-demand Analyst</a>
                            <a class="dropdown-item" href="analytics.html">Analytics</a>
                            <a class="dropdown-item" href="market-report.html">Market Reports</a>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle custom-dropdown-toggle" href="#" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Trends
                        </a>
                        <ul class="dropdown-menu nav-dropdownmenu multiline-menu-container" style="display: flex;">
                            <div class="trend-menu-wrapper">
                                <a class="dropdown-item bol-text" href="#">Internet of
                                    Things </a>
                                <a class="dropdown-item" href="iot-1.html">AI - not more
                                    good to have factor

                                </a>
                                <a class="dropdown-item" href="iot-2.html">Connected automotive
                                    ecosystem

                                </a>
                                <a class="dropdown-item" href="iot-3.html">Connected Devices mind
                                    map - AI
                                    in nucleus</a>
                                <a class="dropdown-item" href="iot-4.html">Smart cities and IoT
                                    sensors</a>
                                <a class="dropdown-item" href="iot-5.html">Asset Management with
                                    IoT</a>
                                <!-- <a class="dropdown-item" href="iot-6.html">IOT transforming agriculture sector</a> -->

                            </div>
                            <div class="trend-menu-wrapper">
                                <a class="dropdown-item bol-text" href="#">Artificial
                                    Intelligence</a>
                                <a class="dropdown-item" href="ai-1.html">Supplementing
                                    digital transformation of retail

                                </a>
                                <a class="dropdown-item" href="ai-2.html">Rejuvenating analytics
                                    by smart hardware

                                </a>
                                <a class="dropdown-item" href="ai-3.html">AI in BFSI - Investment
                                    Magnet?</a>
                                <a class="dropdown-item" href="ai-4.html">AI in Healthcare</a>
                                <a class="dropdown-item" href="ai-5.html">AI impacting Industries</a>
                                <a class="dropdown-item" href="ai-6.html">Change the technological landscape
                                    with
                                    AI

                                </a>

                            </div>
                            <div class="trend-menu-wrapper">
                                <a class="dropdown-item bol-text" href="#">AR-VR</a>
                                <a class="dropdown-item" href="ar-vr-1.html">Military and
                                    Defence with AR-VR technology

                                </a>
                                <a class="dropdown-item" href="ar-vr-2.html">AR-VR and Gaming
                                    Industry

                                </a>
                                <a class="dropdown-item" href="ar-vr-3.html">E-Commerce transformation with
                                    AR-VR</a>
                                <a class="dropdown-item" href="ar-vr-4.html">Retail and customer
                                    experience</a>
                                <a class="dropdown-item" href="ar-vr-5.html">Automotive market with
                                    AR-VR</a>

                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle custom-dropdown-toggle" href="#" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources
                        </a>
                        <ul class="dropdown-menu nav-dropdownmenu">
                            <a class="dropdown-item" href="blog.html">Blog</a>
                            <a class="dropdown-item" href="case-studies.html">Case Studies</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>